@model Pass.Distribution.Web.Models.NotSupportedModel

@{
    ViewBag.Title = "Not supported clent";
}

<p>
    The client <b style="color: red">@Model.ClientManufacturer</b>&nbsp;\&nbsp;<b style="color: red">@Model.ClientModel</b> is not supported
</p>

