<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="FileStorage.Core" />
    <namespace name="FileStorage.BL" />
    <namespace name="FileStorage.Repository.EF" />
    
    <assembly name="FileStorage.Core" />
    <assembly name="FileStorage.BL" />
    <assembly name="FileStorage.Repository.EF" />
    
    <container>
      <register type="IFileStorageService" mapTo="FileStorageService" />
      <register type="IFileStorageConfig" mapTo="FileStorageConfig" />
      <register type="IFileStorageUnitOfWork" mapTo="FileStorageUnitOfWork" />
    </container>
  </unity>
  -->
</configuration>