<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />    
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="FileStorage">
      <register type="FileStorage.Core.IFileStorageConfig, FileStorage.Core" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton" />
      </register>
      <register type="FileStorage.Core.IFileStorageUnitOfWork, FileStorage.Core" mapTo="FileStorage.Repository.EF.FileStorageUnitOfWork, FileStorage.Repository.EF" />
      <register type="FileStorage.Core.IFileStorageService, FileStorage.Core" mapTo="FileStorage.BL.FileStorageService, FileStorage.BL" />
    </container>
  </unity>
</configuration>