.passDesignerBody {
    text-align: left;
}

#body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 1px solid #cccccc;
}

.headerBlockOnDesigner {
    background-color: #f2f4f8;
}

.headerBlockContentDesigner {
    height: 50px;
    -moz-min-width: 1000px;
    -ms-min-width: 1000px;
    -o-min-width: 1000px;
    -webkit-min-width: 1000px;
    min-width: 1000px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

.headerLogoImg {
    height: 40px;
}

.bodyPassDesigner {
    height: 600px;
    -moz-min-width: 1000px;
    -ms-min-width: 1000px;
    -o-min-width: 1000px;
    -webkit-min-width: 1000px;
    min-width: 1000px;
    max-width: 1300px;
    border: dashed 0px;
}

.mainTabs {
    height: 30px;
}

.leftPanelDesigner {
    -moz-min-width: 350px;
    -ms-min-width: 350px;
    -o-min-width: 350px;
    -webkit-min-width: 350px;
    min-width: 350px;
    width: 35%;
    height: 650px;
    border: dashed 0px;
    float: left;
    display: block;
}

.phoneBlockLeftPanel {
    background-image: url(/Images/createCard/iPhone6_passBook.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 637px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.passBodyBlock {
    visibility: visible;
    height: 342px;
    width: 270px;
    margin-left: 18px;
    margin-top: 127px;
    position: absolute;
    display: block;
}

.backgroundImgPassBlock {
    position: absolute;
    display: block;
}

.passTypeImg {
    height: 110px;
    width: 90px;
}

.passType {
    float: left;
    -moz-min-width: 106px;
    -ms-min-width: 106px;
    -o-min-width: 106px;
    -webkit-min-width: 106px;
    min-width: 106px;
    width: 17%;
    height: 145px;
}

.clearBlock {
    width: 20px;
    height: 830px;
    position: relative;
    float: left;
}

.labelInput {
    float: left;
    height: 32px;
    width: 138px;
    padding: 5px;
    z-index: 4;
    font-weight: 700;
    margin: 0 0 0 0px;
}

    .labelInput a, .labelInput span {
        color: #777981;
    }

        .labelInput a:hover {
            text-decoration: none;
        }

.labelInputPassSettings {
    -moz-min-width: 195px;
    -ms-min-width: 195px;
    -o-min-width: 195px;
    -webkit-min-width: 195px;
    min-width: 195px;
    width: 28%;
}

.labelInputDesign {
    -moz-min-width: 138px;
    -ms-min-width: 138px;
    -o-min-width: 138px;
    -webkit-min-width: 138px;
    min-width: 138px;
    width: 23%;
}

.labelInputBarcode {
    width: 220px;
}

.labelInputLockScreen {
    width: 220px;
}

.labelInputAddress {
    width: 116px;
}

.labelInputLanguageText {
    height: 32px;
    width: 167px;
    padding: 5px;
    color: #777981;
    margin: 0 0 0 0px;
    font-weight: 700;
}

.labelInputSelectLanguages {
    width: 164px;
}

.distributionSelect {
    width: 358px;
    height: 28px;
}

.distributionContentSelect {
    width: 243px;
    height: 28px;
}

.transitTypeSelect {
    width: 155px;
    height: 28px;
}

.passT {
    position: absolute;
    width: 22px;
    height: 22px;
    -ms-opacity: 0;
    opacity: 0;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputField {
    padding: 2px 14px;
    font-size: 1.2em;
    color: #787878;
    -ms-text-shadow: 0px 1px 0px #fff;
    -webkit-text-shadow: 0px 1px 0px #fff;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
}

.peter-river-flat-button {
    width: 12.5%;
    height: 30px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background: #2d586f;
    background: rgba(45, 88, 111, 1);
}

    .peter-river-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

.tabMain {
    margin-right: 1px;
    border: none;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    float: left;
    padding: 6px 5px;
    -ms-text-shadow: none;
    text-shadow: none;
    -webkit-transition: background 0.3s ease,color 0.3s ease;
    -moz-transition: background 0.3s ease,color 0.3s ease;
    -ms-transition: background 0.3s ease,color 0.3s ease;
    -o-transition: background 0.3s ease,color 0.3s ease;
    transition: background 0.3s ease,color 0.3s ease;
}

    .tabMain.active, .tabMain.active:hover, .tabMain:focus {
        color: black;
        background-color: #f1c40f;
        border: none;
    }

    .tabMain:link, .tabMain:visited, .tabMain:active, .tabMain:hover {
        color: white;
    }

    .tabMain:hover {
        background: #fd678a;
    }

.saveTab {
    width: 11%;
    background: #02d5ac;
}

    .saveTab:hover, .saveTab.active:hover {
        background: #2ecc71;
        color: white;
    }

    .saveTab.active {
        background: #16a085;
        color: white;
    }

.logoImagePassBlock {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    display: block;
}

.spanLogoImagePass {
    max-width: 250px;
    max-height: 43px;
}

.divStripImagePass {
    width: 270px;
    height: 106px;
    margin-top: 32px;
    position: absolute;
    display: block;
}

.spanStripImagePass {
    width: 100%;
    height: 100%;
}

.backgroundSvgPass {
    width: 270px;
    height: 342px;
}

#thumbnailImagePass.generic {
    max-width: 68px;
    max-height: 68px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: 0 0 1px #888,0 0 0 5px #fff;
    margin-top: 46px;
    margin-left: 186px;
}

#thumbnailImagePass.eventTicket {
    max-width: 70px;
    max-height: 76px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-top: 38px;
    margin-left: 186px;
}

.footerImagePassBlock {
    position: absolute;
    width: 270px;
}

.spanFooterImagePass {
    max-width: 233px;
    max-height: 13px;
    margin: 0 auto;
    display: block;
}

.customFile {
    width: 219px;
    margin-left: -9px;
    cursor: default;
    height: 28px;
    z-index: 2;
    -webkit-filter: alpha(opacity: 0);
    -moz-filter: alpha(opacity: 0);
    -o-filter: alpha(opacity: 0);
    filter: alpha(opacity: 0);
    -ms-opacity: 0;
    opacity: 0;
    position: absolute;
}

    .customFile:hover {
        cursor: pointer;
    }

.fakeButton {
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 21px;
    background: url(images/createCard/button.jpg) no-repeat left top;
    float: left;
}

.emerald-flat-button {
    position: absolute;
    width: 85px;
    height: 28px;
    padding: 4px;
    font-size: 13px;
    border-bottom: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-left: 125px;
}

    .emerald-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

    .emerald-flat-button:hover {
        cursor: pointer;
    }

.blocker {
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 28px;
    margin-left: -25px;
}

.FileName {
    position: absolute;
    height: 15px;
    margin-left: 195px;
    font-family: Verdana;
    font-size: 10pt;
    color: Gray;
    margin-top: 2px;
    padding-top: 1px;
    padding-left: 27px;
}

.activeBrowseButton {
    display: none;
}

#rightPanel div.tabMainContent {
    display: none;
}

#rightPanel p.active {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}

#rightPanel div.active {
    display: block;
    width: 100%;
}

#rightPanel p.tabMainContent {
}

#wrapper div.tabFrontContent {
    display: none;
}

.linkTabFrontContent.active {
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}

#wrapper div.active {
    display: block;
    width: 100%;
}

.frontTabPassBlock {
    display: none;
}

.linkTabFrontContent {
    background-color: gray;
    position: absolute;
    -ms-opacity: 0.4;
    opacity: 0.4;
    z-index: 1;
    color: white;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: right;
}

    .linkTabFrontContent:hover {
        cursor: pointer;
    }

.frontTabPass1 {
    left: 84px;
    top: 130px;
    width: 268px;
    height: 46px;
}

.frontTabPass2 {
    left: -44px;
    top: 184px;
    width: 328px;
    height: 94px;
    text-align: left;
    -ms-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.frontTabPass3 {
    left: 23px;
    top: 291px;
    width: 330px;
    height: 43px;
}

.frontTabPass4 {
    left: 23px;
    top: 291px;
    width: 330px;
    height: 43px;
}

.frontTabPass5 {
    left: 23px;
    top: 348px;
    width: 330px;
    height: 126px;
}

.labelTextHeader {
    font-size: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.valueTextHeader {
    font-size: 12px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.labelTextPrimary {
    left: 0px;
    /*position: absolute;*/
    /*top: 122px;*/
    max-width: 244px;
    /*height: 36px;*/
    border: dashed 0px;
    font-size: 10px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.primaryFieldLabels {
    height: 70px;
    top: 48px;
}

.primaryFieldValues {
    height: 36px;
    top: 122px;
}

.valueTextPrimary {
    left: 0px;
    /*position: absolute;*/
    /*top: 48px;*/
    max-width: 244px;
    /*height: 73px;*/
    border: dashed 0px;
    font-size: 25px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.labelTextAuxiliary {
    max-width: 244px;
    font-size: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.valueTextAuxiliary {
    font-size: 12px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.auxiliaryFieldLabels {
    height: 12px;
    top: 168px;
}

.auxiliaryFieldValues {
    height: 16px;
    top: 181px;
}

.labelTextSecondary {
    max-width: 244px;
    font-size: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.valueTextSecondary {
    font-size: 12px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.secondaryFieldValues {
    height: 16px;
}

.barcodePass {
    display: none;
}

    .barcodePass.active {
        display: block;
    }

#divBarcodeFormat input.active {
    border: solid 3px gray;
}

.divBackFieldContentPass {
    min-height: 30px;
    border-bottom: 1px solid #ccc;
}

.labelFieldBackPass {
    font-size: 10px;
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.valueFieldBackPass {
    font-size: 15px;
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.flexContainerAuxiliaryLabels {
    position: absolute;
    width: 244px;
    height: 13px;
    top: 168px;
    left: 13px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
}

.flexContainerAuxiliaryValues {
    position: absolute;
    width: 244px;
    height: 24px;
    top: 181px;
    left: 13px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
}

.flexContainerHeaderFields {
    position: absolute;
    display: inline-flexbox;
    display: inline-flex;
    width: 165px;
    left: 105px;
    justify-content: flex-end;
}

.flexContainerPrimaryFields {
    position: absolute;
    display: inline-flexbox;
    display: inline-flex;
    width: 257px;
    left: 13px;
    /*justify-content: flex-end;*/
}

.flexContainerAuxiliaryFields {
    position: absolute;
    display: inline-flexbox;
    display: inline-flex;
    width: 257px;
    left: 13px;
    /*justify-content: flex-end;*/
}

.flexContainerSecondaryFields {
    position: absolute;
    display: inline-flexbox;
    display: inline-flex;
    width: 257px;
    left: 13px;
    /*justify-content: flex-end;*/
}

.removeImage {
    position: absolute;
    color: white;
    font-weight: bold;
    width: 14px;
    height: 14px;
    font-size: 10px;
    margin-left: 340px;
    margin-top: 7px;
    background: #e74c3c;
    text-align: center;
    -ms-opacity: .3;
    opacity: .3;
}

    .removeImage:hover {
        opacity: 1;
        cursor: pointer;
    }

.removeField {
    position: absolute;
    color: white;
    font-weight: bold;
    width: 17px;
    height: 17px;
    font-size: 12px;
    margin-left: 517px;
    margin-top: -27px;
    background: #e74c3c;
    text-align: center;
    -ms-opacity: .3;
    opacity: .3;
}

    .removeField:hover {
        -ms-opacity: 1;
        opacity: 1;
        cursor: pointer;
    }

.radioFlexContainer {
    display: -webkit-flex;
    display: flex;
    width: 370px;
    height: 32px;
}

.inputTextFlexContainer {
    display: -webkit-flex;
    display: flex;
}

.radio, .radio + .radio, .checkbox + .checkbox {
    width: 124px;
    margin: auto 0px;
    font-size: 13px;
}

.LabelAndValueInput {
    width: 300px;
    height: 28px;
    margin-left: 128px;
    display: inline;
    float: left;
}

.rdiosPrompt {
    height: 28px;
    line-height: 28px;
    color: #87898F;
    font-size: 13px;
    display: none;
}

.explanations {
    color: #7B7D81;
    font-size: 13px;
    -moz-min-width: 605px;
    -ms-min-width: 605px;
    -o-min-width: 605px;
    -webkit-min-width: 605px;
    min-width: 605px;
    width: 88%;
}

.collapseLinkContent {
    padding: 4px 0px 0px 6px;
    border: none;
    background-color: rgb(231, 231, 231);
    outline: none;
    -ms-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    width: 470px;
}

.textInputNameContent {
    width: 300px;
    height: 28px;
}

.textInputPassSetting {
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
    width: 51%;
}

.textInputBarcode {
    width: 345px;
    height: 28px;
}

.textInputLanguageText {
    width: 234px;
}

.divInputLanguageText {
    float: left;
    padding-bottom: 5px;
}

.textInputAddress {
    width: 357px;
    height: 28px;
}

.languagesSelect {
    width: 357px;
    height: 28px;
}

.collapseContent {
    margin-top: 12px;
    margin-left: 68px;
    margin-bottom: 20px;
}

.distributioncollapseContent {
    margin-top: 12px;
    margin-left: 51px;
    margin-bottom: 20px;
}

.LabelAndValueInputCollapse {
    width: 261px;
    height: 28px;
    margin-left: 128px;
}

.expandImageCollapse {
    width: 19px;
    position: absolute;
    margin-left: 310px;
    margin-top: 4px;
    cursor: move;
}

.expandImageCollapseLanguages {
    width: 19px;
    margin-left: 531px;
    margin-top: -27px;
    cursor: move;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.spanRed {
    color: red !important;
    padding-left: 3px;
}

input[type=checkbox].checkboxCollapse {
    display: none;
}

    input[type=checkbox].checkboxCollapse + label.checkboxCollapseLabel {
        padding-left: 20px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin-top: 5px;
    }

    input[type=checkbox].checkboxCollapse:checked + label.checkboxCollapseLabel {
        background-position: 0 -20px;
    }

label.checkboxCollapseLabel {
    background-image: url(/Images/createCard/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.radioSerialNumber {
    width: 370px;
}

.radioPassType {
    width: 370px;
}

    .radioPassType.radio {
        width: 370px;
    }

.divCheckboxLabelAndValue {
    margin-left: 129px;
    margin-top: 5px;
    font-size: 13px;
}

.divNotificationInputCollapseField {
    margin-left: 129px;
    font-size: 13px;
}

.divNotificationInputAddress {
    margin-left: 118px;
    font-size: 13px;
}

.divDataTypeCollapseField {
    padding-top: 15px;
    margin-left: 129px;
    font-size: 13px;
}

    .divDataTypeCollapseField select {
        width: 210px;
    }

.pDataTypeCollapseField {
    width: 90px;
    float: left;
    padding: 5px 0px;
}

.pDateTime {
    width: 125px;
}

.pDateTimeCheckbox {
    width: 200px;
}

.divDateTimeCheckbox {
    padding-top: 10px;
}

.form-control {
    padding: 4px 8px;
    height: 28px;
    line-height: 16px;
}

.pYellowButton {
    background: #f1c40f;
    color: white;
    width: 165px;
    height: 28px;
    text-align: center;
    margin-left: 313px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 13px;
}

    .pYellowButton:hover {
        background: #e67e22;
        color: black;
    }

.AddRowLanguageButton {
    width: 113px;
    margin-left: 374px;
    margin-top: 8px;
    position: relative;
    padding: 1px;
    height: 24px;
}

.divTabEditor {
    max-height: 610px;
    height: 610px;
    width: 100%;
    margin-right: 3px;
    padding-right: 20px;
    max-height: 610px;
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
}

.pDistribution {
    width: 280px;
    float: left;
    padding: 5px 0px;
    font-weight: bold;
    color: #777981;
}

.pTransitType {
    width: 165px;
    float: left;
    padding: 5px 0px;
    font-weight: bold;
    color: #777981;
    padding-left: 28px;
}

.pDistributionCheckbox {
    width: 220px;
    float: left;
    padding: 5px 4px;
    font-weight: 100;
    color: #777981;
}

.gMapLockScreen {
    width: 550px;
    height: 420px;
    left: 50%;
    top: 50%;
    margin-left: -275px;
    margin-top: -245px;
    position: fixed;
    display: none;
    z-index: 200;
    background-color: white;
}

.gMap {
    width: 550px;
    height: 360px;
}

.labelInputAddressMap {
    width: 63px;
    height: 30px;
    color: #777981;
}

.textInputAddressMap {
    width: 414px;
    height: 28px;
    float: left;
}

.divFormInputMap {
    padding: 1px 0px;
}

.pFindButtonMap {
    width: 70px;
    height: 28px;
    background: #2ecc71;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 auto;
    padding: 4px;
    cursor: pointer;
    color: white;
}

    .pFindButtonMap:hover {
        color: #777981;
    }

.pUseButtonMap {
    width: 100px;
}

.divLatLngMap {
    width: 450px;
    height: 30px;
    color: #777981;
    font-weight: bold;
    padding: 5px;
    float: left;
}

#darkAreaLockScreen {
    background: black;
    -ms-opacity: 0.4;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 199;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.radioInputFixOrDinamicLabel {
}

.radioInputFixOrDinamicValue {
}


.datepicker_header {
    width: 243px;
}

.datepicker_table {
    width: 177px;
    height: 150px;
}

.datepicker_timelist {
    height: 150px !important;
}

.passTypeImg.selected {
    -webkit-box-shadow: 0 0 4px 3px #f2be1c !important;
    -ms-box-shadow: 0 0 4px 3px #f2be1c !important;
    box-shadow: 0 0 4px 3px #f2be1c !important;
}

.passTypeImg:hover {
    -webkit-box-shadow: 0 0 4px 3px #e67e22 !important;
    -ms-box-shadow: 0 0 4px 3px #e67e22 !important;
    box-shadow: 0 0 4px 3px #e67e22 !important;
    -webkit-box-shadow: 0 0 4px 3px #fd678a !important;
    -ms-box-shadow: 0 0 4px 3px #fd678a !important;
    box-shadow: 0 0 4px 3px #fd678a !important;
}

#divPassBody {
    -o-background-size: 270px 342px;
    -webkit-background-size: 270px 342px;
    -khtml-background-size: 270px 342px;
    -moz-background-size: 270px 342px;
    -ms-background-size: 270px 342px;
    background-size: 270px 342px;
}

.panel {
    margin-bottom: 0px;
    border: none;
}

.transport {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 60px;
    left: 118px;
}

.transitIconPass {
    position: absolute;
    top: 63px;
    left: 119px;
    width: 32px;
    height: 32px;
}

.logoTextPass {
    display: inline-block;
    left: 70px;
    position: relative;
    top: 13px;
    width: 150px;
    height: 20px;
    border: dashed 0px;
    font-size: 16px;
    color: white;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.headerFieldsLabels {
    height: 12px;
    top: 12px;
}

.headerFieldsValues {
    height: 16px;
    top: 24px;
}

.thumbnailImagePassBlock {
    position: absolute;
    display: block;
}

.leftAlignPassText {
    margin-right: auto;
}

.rightAlignPassText {
    text-align: right;
    padding-right: 10px;
}

.aztecCodeImgPass {
    position: relative;
    width: 40%;
    top: 201px;
    left: 81px;
}

.qrCodeImgPass {
    max-width: 117px;
    height: 119px;
    max-height: 119px;
    position: relative;
    top: 197px;
    left: 77px;
}

.pdf417CodeImgPass {
    position: relative;
    top: 215px;
    left: 44px;
}

.backAreaPass {
    display: none;
}

.backPassBackgroundImg {
    width: 100%;
    position: absolute;
}

.backPassBlock {
    width: 262px;
    min-height: 311px;
    max-height: 330px;
    overflow-y: auto;
    position: absolute;
    top: 38px;
    left: 4px;
    overflow: hidden;
    background: white;
}

.backHackBlock {
    width: 107%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 290px;
    top: 5px;
    position: absolute;
}

.automaticUpdateImg {
    width: 263px;
    position: absolute;
}

.backPassContentBlock {
    min-height: 30px;
    width: 248px;
    border: 1px solid #E4DEDE;
    padding: 0 10px 8px;
    overflow: hidden;
    margin-top: 49px;
    margin-left: 7px;
    position: absolute;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.clearPanel {
    -moz-min-width: 40px;
    -ms-min-width: 40px;
    -o-min-width: 40px;
    -webkit-min-width: 40px;
    min-width: 40px;
    width: 4%;
    height: 640px;
    float: left;
}

.rightPanelDesigner {
    -moz-min-width: 610px;
    -ms-min-width: 610px;
    -o-min-width: 610px;
    -webkit-min-width: 610px;
    min-width: 610px;
    width: 61%;
    float: right;
    border: dashed 0px;
    display: block;
}

.designItemBlock {
    height: 40px;
}

.colorPickerInput {
    height: 30px;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
    width: 38%;
}

.dividingLine {
    color: #DBDBDB;
}

.addFieldButton {
    width: 120px;
    margin-left: 20px;
    margin-top: 18px;
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -ms-text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.dataStyleSelectlist {
    width: 175px;
}

label.error {
    font-weight: 100;
    color: #fd678a;
}

.form-control.error {
    background: rgba(253, 103, 138, 0.2);
}

#passDescriptionTextarea-error {
    margin-left: 222px;
}

.modal-backdrop.in {
    height: 100%;
}