
@model UserViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>User Management</h2>

@using (Html.BeginFormExt())
{
    @Html.ActionLink("Create user", "Create")
    <div class="container">
   
</div>
}