<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas"/>
    <section name="PushNotification" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CertificateStorage" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FileStorage" type="System.Configuration.NameValueSectionHandler"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <atlas>
    <host name="Pass.Notification.Service" displayName="Push Notification service" description="Push Notification service" allowMultipleInstances="true">
      <!-- possible accounttype's: networkservice, localsystem, localservice, user -->
      <!-- possible startup's: automatic, manual, disabled  -->
      <!-- username and password are plain text, suggested use is to use dev/test account credentials here but use command line args for production installation -->
      <!--<runtime username="myusername" password="mypassword" accounttype="networkservice" startup="automatic" />-->
      <runtime accounttype="localservice" startup="manual"/>
    </host>
  </atlas>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="FileStorage">
      <register type="FileStorage.Core.IFileStorageConfig, FileStorage.Core" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton"/>
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton"/>
      </register>
      <register type="FileStorage.Repository.Core.IFileStorageUnitOfWork, FileStorage.Repository.Core" mapTo="FileStorage.Repository.EF.FileStorageUnitOfWork, FileStorage.Repository.EF"/>
      <register type="FileStorage.Core.IFileStorageService, FileStorage.Core" mapTo="FileStorage.BL.FileStorageService, FileStorage.BL"/>
    </container>
  </unity>
    
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyyMMdd hh:mm:ss} %-5level %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <File type="log4net.Util.PatternString" value="Logs%property{LogName}.log"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyyMMdd hh:mm:ss} %-5level %message%newline"/>
      </layout>
    </appender>
  </log4net>
      
  <connectionStrings>
    <add name="MobileWalletConnection" connectionString="Data Source=.;Initial Catalog=MobileWallet;User Id=sa; Password=sa1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings> <!--http://www.cronmaker.com/ use it!-->
    <add key="CronExpression" value="0 0/1 * 1/1 * ? *"/>
    <add key="IsDebugMode" value="false"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" maxReceivedMessageSize="1048576">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Pass.Notification.Service.NotificationService">
        <endpoint address="" binding="basicHttpBinding" contract="Pass.Notification.Service.NotificationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8738/Design_Time_Addresses/Pass.Notification.Service/PushNotificationService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    
  <PushNotification>
    <add key="ConnectionStringName" value="MobileWalletConnection"/>
  </PushNotification>
  
  <CertificateStorage>
    <add key="ConnectionStringName" value="MobileWalletConnection"/>
    <add key="SecurityKey" value="1234567890987654"/>
  </CertificateStorage>
  
  <FileStorage>
    <add key="StorageDeep" value="2"/>
    <add key="MaxItemsNumber" value="10"/>
    <add key="StoragePath" value="D:\Data\MW\FS\PM"/>
    <add key="ConnectionStringName" value="MobileWalletConnection"/>
  </FileStorage>
  
</configuration>
