@model PassContentListViewModel

<div class="row vertical-align">
    <div class="col-md-2">
        @(Html.ActionLinkExt<PassContentController>(a => a.CreatePass(0), "Add New", new { passProjectId = Model.PassProjectId }, new { @class = "btn btn-default" }))
    </div>
    <div class="col-md-10">
        @Html.DropDownListForExt(m => m.PassContentTemplateId, Model.PassContentTemplates, "- Select Pass Templete -", new { @class = "form-control" })
    </div>
</div>

<script type="text/javascript">
    function PassContentFilter() {
        return { PassContentTemplateId: $("#PassContentTemplateId").val() };
    }
</script>

@(Html.Grid<PassContentViewModel>()
        .Name("grdPassContent")
        .CssClass("pm-grid")
        .Pageable()
        .AutoBind(false)
        .DataSource(ds => ds.Read(Url.Action<PassContentController>(a => a.GridSearchView(null, null))).Data("PassContentFilter"))
        .Columns(c =>
                {
                    c.Bound(m => m.PassContentId).Title("ID").Width("100px");
                    c.Bound(m => m.IsOnline).Title("Online");
                    c.BoundLink(m => m.SerialNumber, Url.Action<PassContentController>(a => a.Edit(0)), m => m.PassContentId).Title("Serial Number");
                    c.Bound(m => m.ExpDate).Title("Expiration Date");
                    c.Bound(m => m.IsVoided).Title("Voided");
                    c.BoundEnum(m => m.Status);
                    c.Bound(p => p.PassContentId).Title("Action").GridAjaxAction("Delete", Url.Action<PassContentController>(a => a.Delete(0)));
                }))

<script type="text/javascript">
    $(document).ready(function() {
        var grid = $("#grdPassContent");
        window.grid.Init(grid);
        window.grid.Reload(grid);

        $("#PassContentTemplateId").change(function () {
            window.grid.Reload($("#grdPassContent"));
        });
    });

</script>


