@media (max-width: 767px) {
    html {
        font-size: 8.4px;
    }

    .advantage {
        background-color: white;
        margin-bottom: 20px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        padding: 15px 20px;
    }

    /*.advantage:hover {
            background-color: #2d586f;
            color: white;
        }*/

    .advNumberCircle {
        display: none;
    }

    .mAdvNumberCircle {
        background-color: #2d586f;
        color: white;
        -ms-border-radius: 50%;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        float: left;
        padding: 2px 5px;
        margin-right: 5px;
    }

    .appBlock {
        min-height: 189px;
    }

    .topBlock {
        margin-top: -70px;
    }

    .howItWorkIcon {
        margin-top: 30px;
    }

    .mainHeader {
        position: absolute;
        margin-top: 125px;
    }

        .mainHeader h1 {
            text-align: left;
            margin: 0 0;
            padding: 0 0;
        }

    .mainHeaderSmall {
        position: absolute;
        margin-top: 270px;
    }

    .mainBlockButton {
        margin-top: 400px;
        position: absolute;
    }

    .mackbookDesignerImg {
        margin-bottom: 35px;
    }

    .arrowRightBlock {
        display: none;
    }
}

@media (min-width: 768px) {

    html {
        font-size: 8.6px;
    }

    .advantage {
        text-align: left;
        -ms-background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
        -o-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
        background-size: 100% 100% !important;
    }

    .advLeft {
        margin: 0 -50px 10px -15px;
        padding: 10px 30px 10px 20px;
    }

    .advRight {
        margin: 0 -15px 10px -50px;
        padding: 10px 20px 10px 30px;
    }

    .advantage:hover {
        color: white;
    }

    .advImage1 {
        background: url('/Images/MainPage/pass-1.png');
        -ms-background-size: 61% auto;
        -moz-background-size: 61% auto;
        -o-background-size: 61% auto;
        -webkit-background-size: 61% auto;
        background-size: 61% auto;
        background-repeat: no-repeat;
        -moz-background-position-x: 50%;
        -o-background-position-x: 50%;
        background-position-x: 50%;
        -moz-background-position-y: 50%;
        -o-background-position-y: 50%;
        background-position-y: 50%;
        height: 410px;
    }

    .advImage2 {
        background: url('/Images/MainPage/pass-2.png');
        -ms-background-size: 61% auto;
        -moz-background-size: 61% auto;
        -o-background-size: 61% auto;
        -webkit-background-size: 61% auto;
        background-size: 61% auto;
        background-repeat: no-repeat;
        -moz-background-position-x: 50%;
        -o-background-position-x: 50%;
        background-position-x: 50%;
        -moz-background-position-y: 50%;
        -o-background-position-y: 50%;
        background-position-y: 50%;
        height: 410px;
    }

    .advImage3 {
        background: url('/Images/MainPage/pass-3.png');
        -ms-background-size: 61% auto;
        -moz-background-size: 61% auto;
        -o-background-size: 61% auto;
        -webkit-background-size: 61% auto;
        background-size: 61% auto;
        background-repeat: no-repeat;
        -moz-background-position-x: 50%;
        -o-background-position-x: 50%;
        background-position-x: 50%;
        -moz-background-position-y: 50%;
        -o-background-position-y: 50%;
        background-position-y: 50%;
        height: 410px;
    }

    .advantage1 {
        background: url('/Images/MainPage/buble1_1.png');
    }

        .advantage1:hover {
            background: url('/Images/MainPage/buble1_2.png');
        }

    .advantage2 {
        background: url('/Images/MainPage/buble2_1.png');
    }

        .advantage2:hover {
            background: url('/Images/MainPage/buble2_2.png');
        }

    .advantage3 {
        background: url('/Images/MainPage/buble3_1.png');
    }

        .advantage3:hover {
            background: url('/Images/MainPage/buble3_2.png');
        }

    .advantage4 {
        background: url('/Images/MainPage/buble4_1.png');
    }

        .advantage4:hover {
            background: url('/Images/MainPage/buble4_2.png');
        }

    .advNumberCircle {
        background-color: #2d586f;
        color: white;
        -ms-border-radius: 50%;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        float: left;
        padding: 0 6px;
        margin-right: 5px;
    }

    .mAdvNumberCircle {
        display: none;
    }

    .topBlock {
        margin-top: -140px;
    }

    .appBlock {
        height: 190px;
    }

    .howItWorkIcon {
        margin-top: 30px;
    }

    .mainHeader {
        position: absolute;
        margin-top: 151px;
    }

        .mainHeader h1 {
            text-align: left;
            margin: 0 0;
            padding: 3px 0;
        }

    .mainHeaderSmall {
        position: absolute;
        margin-top: 253px;
    }

    .mainBlockButton {
        margin-top: 378px;
        position: absolute;
    }

    .mackbookDesignerImg {
        margin-bottom: 35px;
    }

    .arrowRightBlock {
        margin-top: 50%;
    }

        .arrowRightBlock.right {
            left: 5px;
        }

        .arrowRightBlock.left {
            right: 44px;
        }

    .contactTable {
        margin-top: 65px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 9px;
    }

    .advLeft {
        margin: 0 -50px 50px 10px;
        padding: 30px 65px 25px 25px;
    }

    .advRight {
        margin: 0 10px 50px -50px;
        padding: 30px 25px 25px 65px;
    }

    .advImage {
        height: 520px;
    }

    .appBlock {
        height: 224px;
    }

    .mackbookDesignerImg {
        margin-bottom: 0;
    }
}


@media (min-width: 1200px) {
    .advImage {
        height: 508px;
    }

    .topBlock {
        margin-top: -70px;
    }

    .appBlock {
        height: 203px;
    }
}

.blockContent {
    padding-top: 33px;
    padding-bottom: 45px;
    text-align: center;
}

.usedAppBlock {
    background-image: url('/Images/MainPage/bg-3.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 50%;
    -o-background-position-x: 50%;
    background-position-x: 50%;
    -moz-background-position-y: 50%;
    -o-background-position-y: 50%;
    background-position-y: 50%;
}

.appBlock {
    border: 5px solid rgba(45, 88, 111, 0.3);
    border-top: 65px solid rgba(45, 88, 111, 0.3);
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 15px;
    text-align: left;
    margin-bottom: 10px;
}

    .appBlock span {
        font-weight: bold;
    }

.appHeader {
    color: white;
    margin-top: -73px;
    margin-bottom: 28px;
}

.topBlock {
    height: 573px;
    /*overflow: hidden;*/
    /*margin-top: -70px;*/
    z-index: -1;
    background-image: url('/Images/MainPage/mainPhoto.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 0%;
    -o-background-position-x: 0%;
    background-position-x: 0%;
    -moz-background-position-y: 32%;
    -o-background-position-y: 32%;
    background-position-y: 32%;
}







.mainHeaderSmall h4 {
    text-align: left;
}

.mainHeaderContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    padding-left: 10px;
}

.advantagesBlock {
    height: auto;
    background-image: url('/Images/MainPage/bg-2.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 50%;
    -o-background-position-x: 50%;
    background-position-x: 50%;
    -moz-background-position-y: 50%;
    -o-background-position-y: 50%;
    background-position-y: 50%;
}

.passbookLogoImg {
    height: 72px;
    margin-right: 15px;
    float: left;
}

.passwalletLogoImg {
    height: 91px;
    margin-right: 15px;
    float: left;
}

.pTextBlock {
    position: absolute;
    text-align: left;
}

.pHeaderPassDesigner {
    line-height: 53px;
}

.mackbookDesignerImg {
    width: 88%;
}

.passDesignerDescription {
    text-align: left !important;
}

.upArrowBlock {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.footer {
    background-image: url('/Images/MainPage/footer.jpg');
    height: 40px;
    -moz-background-position-x: 50%;
    -o-background-position-x: 50%;
    background-position-x: 50%;
}

.footerLink {
    font-size: 1.3rem;
    text-align: center;
    height: 25px;
    padding-top: 5px;
}

    .footerLink a {
        color: #2d586f;
    }

    .footerLink span {
        font-style: italic;
    }

.displayNone {
    display: none;
}

.tickIcon {
    height: 16px;
    margin: 0 5px 12px 0;
}

.spanStepNumber {
    font-weight: bold;
    color: #02d5ac;
    font-size: 2.1rem;
}

.bigButton {
    background-color: #02d5ac;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 3.2rem;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .bigButton:hover {
        background-color: #fd678a;
        color: white;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

.strategyButton {
    background-color: #02d5ac;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .strategyButton:hover {
        background-color: #fd678a;
        color: white;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

.mainBlockButton:hover {
    cursor: pointer;
}

.pText {
    font-size: 1.7rem;
    color: #87898F;
}

.upArrow {
    position: absolute;
    top: 260px;
    fill: white;
    z-index: 100;
}

    .upArrow:hover {
        fill: #fd678a;
        cursor: pointer;
        -webkit-transition: fill 0.5s ease;
        -moz-transition: fill 0.5s ease;
        -ms-transition: fill 0.5s ease;
        -o-transition: fill 0.5s ease;
        transition: fill 0.5s ease;
    }

.footerContactBlock {
    background-color: #2d586f;
    color: white;
}

.footerContactValue {
    color: #02d5ac;
}

    .footerContactValue:hover {
        color: #02d5ac;
    }

.sendMessageBlock {
    width: 500px;
    float: left;
}

.sendMessageForm {
    height: 517px;
    text-align: center;
    background: rgba(45, 88, 111, 0.1);
    padding: 5px 20px;
    margin-bottom: 20px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.controlGroup {
    padding-bottom: 15px;
}

.messageFormInput {
    height: 45px;
    max-width: 800px;
    font-size: 1.8rem;
    color: #2d586f;
    -ms-border-radius: 0;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .messageFormInput:focus {
        border-color: #02d5ac;
        border-width: 2px;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

.form-control:-moz-placeholder {
    color: #CED7DF;
}

.form-control::-moz-placeholder {
    color: #CED7DF;
}

.form-control:-ms-input-placeholder {
    color: #CED7DF;
}

.form-control::-webkit-input-placeholder {
    color: #CED7DF;
}

.sendEmailButton {
    background-color: #02d5ac;
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    color: white;
    font-size: 3rem;
    max-width: 800px;
    border: none;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .sendEmailButton:hover {
        background-color: #fd678a;
        color: white;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

.contactTable {
    font-size: 2.6rem;
    line-height: 1rem;
    color: #2d586f;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

    .contactTable a {
        color: #2d586f;
    }

.contactIcon {
    padding: 11px 20px;
}

.vkIcon {
    fill: #02d5ac;
}

.emailIcon {
    fill: #02d5ac;
}

.phoneIcon {
    fill: #02d5ac;
}

.vkIcon:hover {
    fill: #fd678a;
}

.emailIcon:hover {
    fill: #fd678a;
}

.phoneIcon:hover {
    fill: #fd678a;
}

.howItWorkIcon {
    height: 120px;
}

    .howItWorkIcon img {
        margin-left: auto;
        margin-right: auto;
    }

.step1Img {
    margin-top: 13px;
}

.step2Img {
    height: 85px;
    margin-top: 8px;
}

.step3Img {
    height: 105px;
    padding-left: 43px;
    margin-top: -14px;
}

.howItWorkNumbering {
    height: 60px;
}

.howItWorkNumberCircle {
    background-color: #2fe2bf;
    color: white;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: auto;
    font-size: 2.4rem;
    padding: 1px 0;
}

.appLink {
    color: #2fe2bf;
}

    .appLink:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.mailIcon {
    width: 25px;
    margin: 0 0 3px 5px;
}

.phonesIcon {
    width: 23px;
    margin: 0 0 3px 5px;
}

.OSLogo {
    width: 20px;
    margin: 0 0 5px 5px;
}

.strategyBlock {
    max-width: 900px;
}

.couponStepImgBlock {
    height: auto;
    padding: 0;
}

    .couponStepImgBlock img {
        width: 100%;
    }

.arrowRight {
    font-weight: bold;
    /*color: #02d5ac;*/
    color: #2d586f;
    font-size: 7rem;
}

.strategyStepText {
    height: 108px;
    border: 2px solid rgba(45, 88, 111, 0.4);
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 4px 6px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.couponDescriptImg {
    width: 100%;
    margin-left: 5%;
}

.boardingDescriptImg {
    width: 100%;
    margin-left: -10%;
}

.pointItem {
    color: #2fe2bf;
    font-size: 2.2rem;
}
