.mainBlock {
    -moz-min-width: 711px;
    -ms-min-width: 711px;
    -o-min-width: 711px;
    -webkit-min-width: 711px;
    min-width: 711px;
}

.blockContent {
    padding-top: 33px;
    padding-bottom: 45px;
    -moz-min-width: 680px;
    -ms-min-width: 680px;
    -o-min-width: 680px;
    -webkit-min-width: 680px;
    min-width: 680px;
    text-align: center;
}

.usedAppBlock {
    background-image: url('/Images/MainPage/bg-3.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 0%;
    -o-background-position-x: 0%;
    background-position-x: 0%;
    -moz-background-position-y: 50%;
    -o-background-position-y: 50%;
    background-position-y: 50%;
}

.appBlock {
    border: 5px solid rgba(45, 88, 111, 0.3);
    border-top: 65px solid rgba(45, 88, 111, 0.3);
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 15px;
    text-align: left;
    margin-bottom: 10px;
}

    .appBlock span {
        font-weight: bold;
    }

.appHeader {
    color: white;
    margin-top: -73px;
    margin-bottom: 28px;
}

.topBlock {
    height: 573px;
    overflow: hidden;
    margin-top: -70px;
    z-index: -1;
    background-image: url('/Images/MainPage/mainPhoto.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 0%;
    -o-background-position-x: 0%;
    background-position-x: 0%;
    -moz-background-position-y: 32%;
    -o-background-position-y: 32%;
    background-position-y: 32%;
}

.mainHeader {
    position: absolute;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 151px;
}

.mainHeaderSmall {
    position: absolute;
    font-size: 2.1rem;
    line-height: 2.7rem;
    margin-top: 253px;
}

.mainHeaderContainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    padding-left: 10px;
}

.advantageBlock {
    height: auto;
    background-image: url('/Images/MainPage/bg-2.jpg');
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center left;
    -moz-background-position-x: 0%;
    -o-background-position-x: 0%;
    background-position-x: 0%;
    -moz-background-position-y: 50%;
    -o-background-position-y: 50%;
    background-position-y: 50%;
}

.passbookLogoImg {
    height: 72px;
    margin-right: 15px;
    float: left;
}

.passwalletLogoImg {
    height: 91px;
    margin-right: 15px;
    float: left;
}

.pTextBlock {
    position: absolute;
    text-align: left;
}

.advantageImg {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.advTableTd {
    width: 35%;
    vertical-align: text-top;
}

.advantageText {
    width: 100%;
    background: white;
    position: relative;
    padding: 20px 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    text-align: left;
}

    .advantageText:hover {
        background-color: #2d586f;
        color: white;
        -webkit-transition: background-color 0.2s ease,color 0.2s ease;
        -moz-transition: background-color 0.2s ease,color 0.2s ease;
        -ms-transition: background-color 0.2s ease,color 0.2s ease;
        -o-transition: background-color 0.2s ease,color 0.2s ease;
        transition: background-color 0.2s ease,color 0.2s ease;
    }

.advLeftBlock:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid white;
    border-bottom: 13px solid transparent;
}

.advLeftBlock.advHover:after {
    border-top: 13px solid transparent;
    border-left: 26px solid #2d586f;
    border-bottom: 13px solid transparent;
    -webkit-transition: border-bottom 0.2s ease;
    -moz-transition: border-bottom 0.2s ease;
    -ms-transition: border-bottom 0.2s ease;
    -o-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
}

.advRightBlock:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid white;
    border-bottom: 13px solid transparent;
}

.advRightBlock.advHover:before {
    border-top: 13px solid transparent;
    border-right: 26px solid #2d586f;
    border-bottom: 13px solid transparent;
    -webkit-transition: border-bottom 0.2s ease;
    -moz-transition: border-bottom 0.2s ease;
    -ms-transition: border-bottom 0.2s ease;
    -o-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
}

.advNumberCircle {
    background-color: #2d586f;
    color: white;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
    padding: 0px 5px;
    margin-right: 5px;
}

.arrowTd {
    width: 3%;
}

.pHeaderPassDesigner {
    line-height: 53px;
}

.mackbookDesignerImg {
    width: 95%;
}

.passDesignerDescription {
    text-align: left;
}

.upArrowBlock {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-size: 1.4rem;
    margin-top: 10px;
}

.displayNone {
    display: none;
}

.tickIcon {
    height: 21px;
}

.tickText {
    line-height: 24px;
    font-size: 1.8rem;
}

.stepImgTd {
    width: 26%;
}

.stepImg {
    width: 100%;
}

.stepTable {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.stepMembershipTable {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.stepImgMembershipTd {
    width: 22%;
}

.stepArrowMembershipTd {
    width: 4%;
}

.stepStampTable {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.stepImgStampTd {
    width: 16%;
}

.stepArrowStampTd {
    width: 4%;
}

.arrowImg {
    width: 100%;
    height: 7%;
}

.leftArrorImg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    -moz-filter: FlipH;
    -o-filter: FlipH;
    -ms-filter: "FlipH";
    filter: FlipH;
}

.spanStepNumber {
    font-weight: bold;
    color: #00bcf2;
    font-size: 2.1rem;
}

.stepPromptTd {
    color: white;
    background-color: black;
    -ms-opacity: 0.7;
    opacity: 0.7;
    font-size: 1.75rem;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 4px;
    vertical-align: top;
    line-height: 2.4rem;
    /*font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;*/
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.stampStepPromptTd {
    font-size: 1.6rem !important;
}

.stepArrowTd {
    width: 5.5%;
}

.promoStrategyImgTable {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

.promoArrowImg {
    width: 100%;
}

.promoArrowImgTd {
    width: 5.5%;
}

.promoStratPromptTd {
    color: white;
    background-color: black;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
    font-size: 1.75rem;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 4px;
    width: 26%;
    /*font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;*/
}

.stampStratPromptTd {
    color: white;
    background-color: black;
    -ms-opacity: 0.7;
    opacity: 0.7;
    font-size: 1.65rem;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 4px;
    width: 26%;
}

.bigButton {
    background-color: #02d5ac;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 3.2rem;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .bigButton:hover {
        background-color: #fd678a;
        color: white;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

.mainBlockButton {
    margin-top: 378px;
    position: absolute;
}

    .mainBlockButton:hover {
        cursor: pointer;
    }

.pText {
    font-size: 1.7rem;
    color: #87898F;
}

.upArrow {
    position: absolute;
    left: 15px;
    top: 175px;
    /*fill: #aeb6cb;*/
    fill: white;
    z-index: 100;
}

    .upArrow:hover {
        fill: #fd678a;
        cursor: pointer;
        -webkit-transition: fill 0.5s ease;
        -moz-transition: fill 0.5s ease;
        -ms-transition: fill 0.5s ease;
        -o-transition: fill 0.5s ease;
        transition: fill 0.5s ease;
    }

.footerContactBlock {
    background-color: #2d586f;
    color: white;
}

.footerContactValue {
    color: #02d5ac;
}

    .footerContactValue:hover {
        color: #02d5ac;
    }

.sendMessageBlock {
    width: 500px;
    float: left;
}

.headerMessageBlock {
    font-size: 3rem;
    color: #87898F;
    margin: 0 0 10px 0;
}

.sendMessageForm {
    height: 450px;
    width: 500px;
    text-align: center;
    background-color: #f2f4f8;
    background-color: #eceff1;
    padding: 5px 20px;
}

.controlGroup {
    padding-bottom: 15px;
}

.messageFormInput {
    height: 45px;
    max-width: 800px;
    font-size: 1.8rem;
    color: #87898F;
    -ms-border-radius: 0;
    border-radius: 0;
}

.form-control:-moz-placeholder {
    color: #CED7DF;
}

.form-control::-moz-placeholder {
    color: #CED7DF;
}

.form-control:-ms-input-placeholder {
    color: #CED7DF;
}

.form-control::-webkit-input-placeholder {
    color: #CED7DF;
}

.messageFormInput:focus {
    border-color: #ffd800;
    border-color: #1abc9c;
    border-width: 2px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.contactBlock {
    width: 400px;
    float: left;
    color: black;
    margin-top: 70px;
    margin-bottom: 70px;
}

.sendEmailButton {
    background-color: #ffd800;
    background-color: #1abc9c;
    width: 100%;
    height: 50px;
    padding: 7px 22px 11px 21px;
    color: white;
    font-size: 2.4rem;
    max-width: 800px;
    border: none;
}

    .sendEmailButton:hover {
        background-color: #2fe2bf;
    }

.contactTable {
    font-size: 2.6rem;
    line-height: 1rem;
    color: #87898F;
    text-align: left;
}

    .contactTable a {
        color: #87898F;
    }

.contactIcon {
    padding: 11px 20px;
}

.vkIcon {
    fill: #1abc9c;
}

.emailIcon {
    fill: #1abc9c;
}

.phoneIcon {
    fill: #1abc9c;
}

.vkIcon:hover {
    fill: #2fe2bf;
}

.emailIcon:hover {
    fill: #2fe2bf;
}

.phoneIcon:hover {
    fill: #2fe2bf;
}

.howItWorkIcon {
    height: 132px;
}

.howItWorkNumbering {
    height: 60px;
}

.howItWorkNumberCircle {
    background-color: #2fe2bf;
    color: white;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    padding: 1px 0;
}

.appLink {
    color: #2fe2bf;
}

    .appLink:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.mailIcon {
    width: 25px;
    margin: 0 0 3px 5px;
}

.phonesIcon {
    width: 23px;
    margin: 0 0 3px 5px;
}

.OSLogo {
    width: 20px;
    margin: 0 0 5px 5px;
}
