@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pass Light";
}

<h1>Welcom to Pass Light</h1>

<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li>@(Html.ActionLinkExt<PassSiteController>(c => c.Index(), "Pass Sites"))</li>
            <li>@(Html.ActionLinkExt<UserController>(c => c.Index(), "User Management"))</li>
        </ul>
    </div>
</nav>
