@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pass Light";
}

<h1>Pass Light</h1>
@Html.ActionLink("Log Off", "LogOff", "Account")

<style>
    div {border: 1px solid; border-color: green}
</style>

