@model PassSiteViewModel

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container">
    <table id="myDataTable"></table>
    
</div>
<br/>
<div class="container">
    @(Html.Grid<PassSiteViewModel>()
        .Name("myDataTable2")
        .DataSource(ds => ds.Read(@Url.Action("AjaxHandler2")))
        .Columns(c =>
                 {
                     c.Bound(p => p.PassSiteId).Title("ID");
                     c.Bound(p => p.Name);
                     c.Bound(p => p.Description);
                 }))
        
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myDataTable').dataTable({
                bServerSide: true,
                sAjaxSource: "@Url.Action("AjaxHandler")",
                bProcessing: true,
                bFilter: false,
                //bPaginate: false,
                //bInfo: false,
                oLanguage: {
                    sZeroRecords: "No data",
                },
                aoColumns: [
                                { mData: "Id", sTitle: "MyId" },
                                { mData: "Name", sTitle: "MyName" },
                                { mData: "Address", sTitle: "MyAddress" },
                                { mData: "Town", sTitle: "MyTown" }
                ]
                
            });
        })
    </script>
}
