@model Pass.Manager.Web.Models.GeneralPassTemplate.GeneralPassTemplate

<div class="clearBlock"></div>
<br />
<div class="explanations">
    Вы можете настроить внешний вид пасса, изменив цвета и загрузив собственные изображения ниже.
    Чтобы выбрать цвет из палитры цветов нажмите на значок
    <img src="~/Images/createCard/color.png" />
</div>
<br>

<!--Background color picker-->
<div id="divBackgroundColor" class="designItemBlock colorPickerBlock">
    <p class="labelInput labelInputDesign">
        <a data-toggle="tooltip" title="Выберите цвет фона пасса из палитры цветов или введите hex код цвета (например #BDC3C7)">Цвет фона<span class="spanRed">*</span></a>
    </p>
    <input id="backColorPicker" class="colorPickerInput" type="color" value="#@Model.BackgroundColor.Name.Substring(2)" data-hex="true" onchange="javascript:document.getElementById('divPassBody').style.backgroundColor=document.getElementById('backColorPicker').value;" /><br />
</div>
<br>

<!--Label text color picker-->
<div id="divLabelTextColor" class="designItemBlock colorPickerBlock">
    <p class="labelInput labelInputDesign">
        <a data-toggle="tooltip" title="Выберите цвет заголовков полей из палитры цветов или введите hex код цвета (например #000000)">Цвет заголовков<span class="spanRed">*</span></a>
    </p>
    <input id="labelColorPicker" class="colorPickerInput" type="color" value="#@Model.LabelTextColor.Name.Substring(2)" data-hex="true" onchange="ChangeLabelTextColor((this).value)" /><br />
</div>
<br>

<!--Value text color picker-->
<div id="divValueTextColor" class="designItemBlock colorPickerBlock">
    <p class="labelInput labelInputDesign">
        <a data-toggle="tooltip" title="Выберите цвет значений полей из палитры цветов или введите hex код цвета (например #ffffff)">Цвет значений<span class="spanRed">*</span></a>
    </p>
    <input id="textColorPicker" class="colorPickerInput" type="color" value="#@Model.ValueTextColor.Name.Substring(2)" data-hex="true" onchange="ChangeValueTextColor((this).value)" /><br />
</div>
<br>

<!--Logo image input-->
<div id="divLogoImage" class="designItemBlock">
    <p class="labelInput">
        <a data-toggle="tooltip" title="Default tooltip">Логотип</a>
    </p>
    <input class="customFile" type="file" id="logoImageInput" />
    <div class="emerald-flat-button">Добавить...</div>
    <div class="blocker"></div>
    <div id="logoName" class="FileName">cleverLogo.png</div>
    <div id="removeLogo" class="removeImage" data-toggle="tooltip" title="Удалить изображение">X</div>
    <br />
    <br />
</div>

<!--Strip image input-->
<div id="divStripImage" class="designItemBlock">
    <p class="labelInput">
        <a data-toggle="tooltip" title="Default tooltip" style="z-index:4;">Лента</a>
    </p>
    <input class="customFile" type="file" id="stripImageInput" />
    <div class="emerald-flat-button">Добавить...</div>
    <div class="blocker"></div>
    <div id="stripName" class="FileName">storeStrip7.jpg</div>
    <div id="removeStrip" class="removeImage" data-toggle="tooltip" title="Удалить изображение">X</div>
    <br />
    <br />
</div>


<!--Background image input-->
<div id="divBackgroundImage" class="designItemBlock">
    <p class="labelInput">
        <a data-toggle="tooltip" title="Default tooltip" style="z-index:4;">Фон</a>
    </p>
    <input class="customFile" type="file" id="backgroundImageInput" />
    <div class="emerald-flat-button">Добавить...</div>
    <div class="blocker"></div>
    <div id="backgroundName" class="FileName">Tulips.jpg</div>
    <div id="removeBackground" class="removeImage" data-toggle="tooltip" title="Удалить изображение">X</div>
    <br />
    <br />
</div>

<!--Thumbnail image input-->
<div id="divThumbnailImage" class="designItemBlock">
    <p class="labelInput">
        <a data-toggle="tooltip" title="Default tooltip" style="z-index:4;">Миниатюра</a>
    </p>
    <input class="customFile" type="file" id="thumbnailImageInput" />
    <div class="emerald-flat-button">Добавить...</div>
    <div class="blocker"></div>
    <div id="thumbnailName" class="FileName">Vitalik.png</div>
    <div id="removeThumbnail" class="removeImage" data-toggle="tooltip" title="Удалить изображение">X</div>
</div>