@model Pass.Manager.Web.Models.GeneralPassTemplate.PassTemplateViewModel

<div class="divTabEditor">
    <div class="clearBlock"></div>
    <br>
    <div class="explanations">
        Пассы интегрированы с экраном блокировки смартфонов. Это помогает пользователям найти нужный пасс,
        когда он им нужен, высветив его на экране блокировки.
    </div>
    <br>
    <div class="explanations">
        Если Вы хотите, чтобы у пользователя на экране смартфона появлялось уведомление,
        когда он находится неподалеку от Вашего магазина, Вы можете ввести до 10 местоположений ниже
    </div>
    <br>

    <!--Max distance input-->
    <p class="labelInput labelInputLockScreen">
        <span data-toggle="tooltip" title="Максимальное расстояние от местоположения, где будет появляться уведомление (в метрах).
          Будет использовано введенное значение или значение по умолчанию, установленное компанией Apple">Максимальное расстояние</span>
    </p>
    <input class="form-control textInputNameContent" id="maxDistanceInput" name="LocationDetails.MaxDistance" value="@Model.LocationDetails.MaxDistance" maxlength="10" placeholder="Необязательное" style="width: 300px;">
    <br>

    <!--Address collapse field 1-->
    <div id="mainCollapsePanelAddressContent">
        <div id="collapsePanelAddressContent1">
            <div class="collapseLinkContent" style="width: 526px; position: relative;">
                <input type="checkbox" name="checkboxAddress1" id="checkboxAddress1" class="checkboxCollapse">
                <label for="checkboxAddress1" class="checkboxCollapseLabel"></label>
                <a data-toggle="collapse" data-parent="#mainCollapsePanelAddressContent" href="#collapseContentAddress1">
                    <p class="labelInput">
                        <span data-toggle="tooltip" title="Введите адрес Вашего магазина">Адрес<span class="spanRed">*</span></span>
                    </p>
                    <img src="~/Images/createCard/expand.png" class="expandImageCollapse" style="margin-left: 372px;" data-toggle="tooltip" title="Развернуть(свернуть) поле" />
                </a>
                <input id="addressLabelCollapseInput1" class="form-control textInputAddress" maxlength="30" placeholder="Обязательное" />
            </div>
            <div id="collapseContentAddress1" class="collapseContent collapse in">
                <p id="pButtonAddress1" class="pYellowButton" onclick="initialize(id); DisBlockDarkAreaAndMap(id); ResizeMap(id);">Найти широту и долготу</p>
                <p class="labelInput labelInputAddress">
                    <span data-toggle="tooltip" title="Введите значение широты между -90 и 90 градусов">Широта<span class="spanRed">*</span></span>
                </p>
                <input id="latitudeInput1" class="form-control textInputAddress" name="LocationDetails.Locations[0].Latitude" maxlength="30" placeholder="Обязательное" />
                <br>
                <p class="labelInput labelInputAddress">
                    <span data-toggle="tooltip" title="Введите значение долготы между -180 и 180 градусов">Долгота<span class="spanRed">*</span></span>
                </p>
                <input id="longitudeInput1" class="form-control textInputAddress" name="LocationDetails.Locations[0].Longitude" maxlength="30" placeholder="Обязательное" />
                <br>
                <p class="labelInput labelInputAddress">
                    <span data-toggle="tooltip" title="Высота над уровнем моря">Высота</span>
                </p>
                <input id="altitudeInput1" class="form-control textInputAddress" name="LocationDetails.Locations[0].Altitude" maxlength="30" placeholder="Необязательное" />
                <br>
                <div class="divNotificationInputAddress">
                    <p><span data-toggle="tooltip" title="Этот текст появится на экране блокировки, когда пользователь будет находиться недалеко от Вашего магазина">Уведомление, отображаемое около введенного местоположения<span class="spanRed">*</span></span></p>
                    <input id="notificationInputAddress1" class="form-control textInputAddress" name="LocationDetails.Locations[0].RelevantText" maxlength="40" placeholder="Обязательное" />
                </div>
            </div>

            <!--Google map-->
            <div id="divGMap1" class="gMapLockScreen">
                <div class="divFormInputMap">
                    <p class="labelInput labelInputAddressMap">Адрес:</p>
                    <input id="addressInputLock1" class="form-control textInputAddressMap" maxlength="30" />
                    <p id="addressButtonFindLock1" class="pFindButtonMap" onclick="FindButtonCodeAddress(id);">Найти</p>
                </div>
                <div id="gMap1" class="gMap"></div>
                <div class="divLatLngMap">
                    Широта/Долгота:
                    <span id="latLngMapContent1" style="font-weight: 100;"></span>
                </div>

                <p id="latLngApplyButton1" class="pFindButtonMap pUseButtonMap" onclick="LatLngApply(id);">Применить</p>
            </div>
        </div>
    </div>
    <div class="emerald-flat-button addFieldButton" onclick="AddAddressField();">Добавить адрес</div>
</div>
