body {
    padding-top: 150px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.k-state-active {
    border-color: inherit !important;
}

/*
*,
:before,
:after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*/


/* set a border-box model only to elements that need it */
.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#btnApply {
    margin-right: 6px;
    margin-left: 20px;
}

#btnCreate {
    margin-right: 2px;
    margin-left: 20px;
}

.k-window-titlebar.k-header {
    background-image: none;
    background-color: #eceff1;
    color: #384A5C;
    font-weight: bold;
    border: none;
    font-size: 1.3em;
}

.k-content {
    color: #737C86;
}

.btn-default {
    background-color: #BCC4C7;
    color: white;
    border: none;
    padding: 8px 22px;
    -webkit-transition: background 0.2s ease,color 0.2s ease;
    -moz-transition: background 0.2s ease,color 0.2s ease;
    -ms-transition: background 0.2s ease,color 0.2s ease;
    -o-transition: background 0.2s ease,color 0.2s ease;
    transition: background 0.2s ease,color 0.2s ease;
    margin: 7px 0;
}

    .btn-default:hover {
        background-color: #D8D7D7;
    }

.btn-primary {
    background-color: #1abc9c;
}

    .btn-primary:hover {
        background-color: #2fe2bf;
    }

.form-control {
    max-width: 350px;
}

    .form-control:focus {
        border-color: #1AB899;
        -webkit-box-shadow: inset 0 1px 1px rgba(26,184,153,.075), 0 0 8px rgba(26,184,153, .6);
        -ms-box-shadow: inset 0 1px 1px rgba(26,184,153,.075), 0 0 8px rgba(26,184,153, .6);
        box-shadow: inset 0 1px 1px rgba(26,184,153,.075), 0 0 8px rgba(26,184,153, .6);
    }

.well {
    color: #737C86;
    background-color: #eceff1;
}

h3 {
    color: #384A5C;
    font-weight: bold;
    margin-bottom: 20px;
}

.k-tabstrip {
    color: #737C86;
}

.dataTables_length, .sorting_disabled {
    color: #384A5C !important;
}

.table.dataTable thead th, .table.dataTable tbody td {
    border: 1px solid #ccc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #BCC4C7;
    color: white !important;
    border: none;
    padding: 0.3em 0.5em;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #2fe2bf;
        border: none;
        -webkit-transition: background 0.2s ease,color 0.2s ease;
        -moz-transition: background 0.2s ease,color 0.2s ease;
        -ms-transition: background 0.2s ease,color 0.2s ease;
        -o-transition: background 0.2s ease,color 0.2s ease;
        transition: background 0.2s ease,color 0.2s ease;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
    padding: 0.3em 0.5em;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2fe2bf;
        border: none;
        -webkit-transition: background 0.2s ease,color 0.2s ease;
        -moz-transition: background 0.2s ease,color 0.2s ease;
        -ms-transition: background 0.2s ease,color 0.2s ease;
        -o-transition: background 0.2s ease,color 0.2s ease;
        transition: background 0.2s ease,color 0.2s ease;
    }
/*
.form-control.k-widget
{
    padding: 0;
}
*/
