@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
}

body {
    /*padding-top: 150px;*/
    padding-bottom: 20px;
    /*font-family: 'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;*/
    font-family: HelveticaNeueCyr-Light !important;
    font-size: 15px;
}

a {
    color: #2979FF;
}

    a:hover {
        color: #02d5ac;
    }

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 32px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.k-state-active {
    border-color: inherit !important;
}

/*
*,
:before,
:after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*/


/* set a border-box model only to elements that need it */
.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#btnApply {
    margin-right: 6px;
    margin-left: 20px;
    -moz-min-width: 41px;
    -ms-min-width: 41px;
    -o-min-width: 41px;
    -webkit-min-width: 41px;
    min-width: 41px;
}

#btnCreate {
    margin-right: 2px;
    margin-left: 20px;
}

.k-window-titlebar.k-header {
    background-image: none;
    background-color: #eceff1;
    color: #384A5C;
    font-weight: bold;
    border: none;
    font-size: 1.3em;
}

.k-content {
    color: #737C86;
}

.btn-default {
    background: rgba(45, 88, 111, 0.5);
    color: white;
    border: none;
    -ms-border-radius: 7px;
    border-radius: 7px;
    padding: 8px 22px;
    -webkit-transition: background-color 0.2s ease,color 0.2s ease;
    -moz-transition: background-color 0.2s ease,color 0.2s ease;
    -ms-transition: background-color 0.2s ease,color 0.2s ease;
    -o-transition: background-color 0.2s ease,color 0.2s ease;
    transition: background-color 0.2s ease,color 0.2s ease;
    margin: 7px 0;
}

    .btn-default:hover {
        background-color: #D4DCE1;
        color: #2d586f;
    }

.btn-primary {
    /*background-color: #02d5ac;*/
    background: rgba(45, 88, 111, 0.5);
    -moz-min-width: 85px;
    -ms-min-width: 85px;
    -o-min-width: 85px;
    -webkit-min-width: 85px;
    min-width: 85px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        /*background-color: #fd678a;
    border-color: #fd678a;*/
        background-color: #D4DCE1;
        border-color: #D4DCE1;
        color: white;
    }

.form-control {
    max-width: 350px;
}

    /*.form-control:focus, .valid:focus {
    border-color: #1AB899 !important;
    -webkit-box-shadow: inset 0 1px 1px #1ab899, 0 0 8px #1ab899;
    -ms-box-shadow: inset 0 1px 1px #1ab899, 0 0 8px #1ab899;
    box-shadow: inset 0 1px 1px #1ab899, 0 0 8px #1ab899;
    box-shadow: inset 0 1px 1px rgba(26,184,153,.075), 0 0 8px rgba(26,184,153, .6);
}*/

    .form-control:focus, .valid:focus {
        border-color: #2979FF !important;
        -webkit-box-shadow: inset 0 1px 1px #2979FF, 0 0 8px #2979FF;
        -ms-box-shadow: inset 0 1px 1px #2979FF, 0 0 8px #2979FF;
        box-shadow: inset 0 1px 1px #2979FF, 0 0 8px #2979FF;
        box-shadow: inset 0 1px 1px rgba(41,121,255,.075), 0 0 8px rgba(41,121,255, .6);
    }

.well {
    /*color: #737C86;*/
    color: #2d586f;
    /*background-color: #eceff1;*/
    background-color: #F4F6F7;
    margin-top: 60px;
}

.k-tabstrip {
    color: #737C86;
}

.dataTables_length, .sorting_disabled {
    /*color: #384A5C !important;*/
    color: #2d586f !important;
}

.table.dataTable thead th, .table.dataTable tbody td {
    border: 1px solid #ccc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #AABBC4;
    color: white !important;
    border: none;
    padding: 0.3em 0.5em;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #02d5ac;
        color: white !important;
        border: none;
        -webkit-transition: background 0.2s ease,color 0.2s ease;
        -moz-transition: background 0.2s ease,color 0.2s ease;
        -ms-transition: background 0.2s ease,color 0.2s ease;
        -o-transition: background 0.2s ease,color 0.2s ease;
        transition: background 0.2s ease,color 0.2s ease;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
    padding: 0.3em 0.5em;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2fe2bf;
        border: none;
        -webkit-transition: background 0.2s ease,color 0.2s ease;
        -moz-transition: background 0.2s ease,color 0.2s ease;
        -ms-transition: background 0.2s ease,color 0.2s ease;
        -o-transition: background 0.2s ease,color 0.2s ease;
        transition: background 0.2s ease,color 0.2s ease;
    }

/*.navbar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-nav > li > a {
    font-size: 19px;
    color: #384A5C;
}

    .navbar-default .navbar-nav > li > a:hover {
        background: #2fe2bf;
        color: white;
        -webkit-transition: background 0.2s ease,color 0.2s ease;
        -moz-transition: background 0.2s ease,color 0.2s ease;
        -ms-transition: background 0.2s ease,color 0.2s ease;
        -o-transition: background 0.2s ease,color 0.2s ease;
        transition: background 0.2s ease,color 0.2s ease;
    }*/

.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    margin-top: 14px !important;
}

    .dropdown-menu > li > a {
        background: rgba(45, 88, 111, 0.9);
        color: white;
    }

        .dropdown-menu > li > a:hover {
            background: #02d5ac !important;
            -webkit-transition: background 0.3s ease,color 0.2s ease;
            -moz-transition: background 0.3s ease,color 0.2s ease;
            -ms-transition: background 0.3s ease,color 0.2s ease;
            -o-transition: background 0.3s ease,color 0.2s ease;
            transition: background 0.3s ease,color 0.2s ease;
        }

.navbar {
    margin-bottom: 0;
}

.navbar-btn {
    margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #2d586f;
        color: #02d5ac;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #02d5ac;
        }

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
    }

.mainMenuBlock {
    background-color: #2d586f;
    -ms-opacity: 0.9;
    opacity: 0.9;
}

.passlightLogoBlock {
    height: 70px;
    margin-right: 80px !important;
}

.menu {
    font-size: 1.9rem;
    padding-top: 20px;
}

    .menu ul li a {
        display: block;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
    }

.navbar-toggle {
    border-color: white;
}

    .navbar-toggle .icon-bar {
        background-color: white;
    }

.logInButton {
    font-size: 1.5rem;
}

.registrationButton a {
    font-size: 1.5rem;
    background-color: #02d5ac;
    padding: 3px 9px !important;
    color: white;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 2px;
}

    .registrationButton a:hover {
        background-color: #fd678a !important;
        color: white !important;
        text-decoration: none !important;
        -webkit-transition: background-color 0.5s ease !important;
        -moz-transition: background-color 0.5s ease !important;
        -ms-transition: background-color 0.5s ease !important;
        -o-transition: background-color 0.5s ease !important;
        transition: background-color 0.5s ease !important;
    }

.imgImageFile {
    max-width: 300px;
    max-height: 150px;
    float: left;
}

.imgRemoveIcon {
    float: left;
    background: rgba(45, 88, 111, 0.5);
    color: white;
    padding: 0px 6px 2px 6px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin: -20px 0 0 5px;
}

    .imgRemoveIcon:hover {
        background-color: #D4DCE1;
        color: #2d586f;
        cursor: pointer;
    }

/*For Kendo datepicker extention*/
.k-widget.k-datepicker.k-header.form-control, .k-picker-wrap.k-state-default {
    padding: 0;
    border: none;
}

.form-control.k-input {
    height: 34px;
    border: 1px solid #ccc;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

    .form-control.k-input:focus {
        border: 1px solid #2979FF;
        -webkit-box-shadow: inset 0 1px 1px rgba(41,121,255,.075), 0 0 8px rgba(41,121,255, .6);
        -ms-box-shadow: inset 0 1px 1px rgba(41,121,255,.075), 0 0 8px rgba(41,121,255, .6);
        box-shadow: inset 0 1px 1px rgba(41,121,255,.075), 0 0 8px rgba(41,121,255, .6);
    }

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight,
.k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color: #02d5ac;
    border-color: #02d5ac;
}

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    -webkit-box-shadow: inset 0 0 3px 4px #02d5ac;
    -ms-box-shadow: inset 0 0 3px 4px #02d5ac;
    box-shadow: inset 0 0 3px 4px #02d5ac;
}

.action-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.boundBoolImg {
    width: 28px;
    height: 28px;
    margin-top: -8px;
    margin-bottom: -5px;
    margin-left: 39%;
}
