<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="FileStorage" type="System.Configuration.NameValueSectionHandler" />
    <section name="PassContainer" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="LocalConnection" connectionString="Data Source=localhost;Initial Catalog=MobileWallet;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="SmarterAspConnection" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9AF60B_MobileWallet;User Id=DB_9AF60B_MobileWallet_admin;Password=12345678" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="PassContainer">
      <!--
      <register type="Pass.Container.Core.IPassContainerConfig, Pass.Container.Core" mapTo="Pass.Container.BL.PassContainerConfig, Pass.Container.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Pass.Container.Core.IPassTemplateConfig, Pass.Container.Core" mapTo="Pass.Container.BL.PassContainerConfig, Pass.Container.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="Pass.Container.BL.PassContainerConfig, Pass.Container.BL">
        <lifetime type="singleton" />
      </register>
      -->
      <register type="Pass.Container.Repository.Core.IPassContainerUnitOfWork, Pass.Container.Repository.Core" mapTo="Pass.Container.Repository.EF.PassContainerUnitOfWork, Pass.Container.Repository.EF" />
      <register type="Pass.Container.Core.IPassTemplateService, Pass.Container.Core" mapTo="Pass.Container.BL.PassTemplateService, Pass.Container.BL" />
      <register type="Pass.Container.Core.IPassDistributionService, Pass.Container.Core" mapTo="Pass.Container.BL.PassDistributionService, Pass.Container.BL" />
      <register type="Pass.Container.Core.IPassContainerService, Pass.Container.Core" mapTo="Pass.Container.BL.PassContainerService, Pass.Container.BL" />
      <register type="Pass.Container.Core.IApplePassProcessingService, Pass.Container.Core" mapTo="Pass.Container.BL.ApplePassProcessingService, Pass.Container.BL" />
    </container>
    
    <container name="FileStorage">
      <!--
      <register type="FileStorage.Core.IFileStorageConfig, FileStorage.Core" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton" />
      </register>
      -->
      <register type="FileStorage.Repository.Core.IFileStorageUnitOfWork, FileStorage.Repository.Core" mapTo="FileStorage.Repository.EF.FileStorageUnitOfWork, FileStorage.Repository.EF" />
      <register type="FileStorage.Core.IFileStorageService, FileStorage.Core" mapTo="FileStorage.BL.FileStorageService, FileStorage.BL" />
    </container>
  </unity>

  <FileStorage>
    <add key="StorageDeep" value="3" />
    <add key="MaxItemsNumber" value="2" />
    <add key="StoragePath" value="D:\Data\FileStorage\Test" />
    <add key="ConnectionStringName" value="LocalConnection" />
  </FileStorage>

  <PassContainer>
    <add key="PassTemplateFolderName" value="PassTemplate" />
    <add key="PassTemplateFileName" value="template.xml" />
    <add key="ConnectionStringName" value="LocalConnection" />
    <add key="SecurityKey" value="1234567812345678" />
  </PassContainer>
</configuration>