<script src="~/Scripts/createCard/passDesigner.js"></script>
<div class="clearBlock"></div>
<br />
<div>
    <div id="mainCollapsePanelBackContent">
        <!--Content1 Back1 Input1 Field1 Label1 Value1-->
        <!--Back content collapse field 1-->
        <div id="collapsePanelBackContent1" class="panel">
            <div class="collapseLinkContent">
                <input type="checkbox" name="checkboxG3" id="checkboxBack1" class="checkboxCollapse" onchange="CheckAndUncheckFieldBack(id);" checked>
                <label for="checkboxBack1" class="checkboxCollapseLabel"></label>
                <a data-toggle="collapse" data-parent="#mainCollapsePanelBackContent" href="#collapseContentBack1">
                    <p class="labelInput">
                        <span data-toggle="tooltip" title="Название поля используется для его идентификации. Должно быть уникальным">Название поля<span class="spanRed">*</span></span>
                    </p>
                    <img src="~/Images/createCard/expand.png" class="expandImageCollapse" data-toggle="tooltip" title="Развернуть(свернуть) поле" />
                </a>
                <input id="backLabelCollapseInput1" class="form-control textInputNameContent" maxlength="20" placeholder="Обязательное" onkeyup=" CheckCheckboxAfterInput(id);" />
            </div>
            <div id="removeCollapseField1" class="removeField" data-toggle="tooltip" title="Удалить поле" onclick="RemoveFieldFromBackContent(id)">x</div>
            <div id="collapseContentBack1" class="collapseContent collapse in">
                <div class="radioFlexContainer">
                    <p class="labelInput">
                        <a data-toggle="tooltip" title="Это заголовок поля. Он может быть фиксированным (т.е. одинаковым для всех клиентов) или динамическим (т.е. разным для всех клиентов)">Заголовок</a>
                    </p>
                    <div class="radio">
                        <label class="radioInputFixedLabel">
                            <input type="radio" class="radioInputFixOrDinamicLabel" name="optionsRadiosCollapseLabel1" id="collapseContentLabelBack11" onclick="DisplayNoneRadioButtonPrompt(id); DisplayNoneCollapseCheckbox(name);" checked>
                            Фиксированный
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radioInputDynamicLabel">
                            <input type="radio" name="optionsRadiosCollapseLabel1" id="collapseContentLabelBack12" onclick="DisplayRadioButtonPrompt(id); DisplayBlockCollapseCheckbox(name);">
                            Динамический
                        </label>
                    </div>
                </div>
                <div class="inputTextFlexContainer">
                    <input type="text" id="inputBackFieldContent1" class="form-control LabelAndValueInputCollapse" placeholder="Обязательное" maxlength="30" onkeyup="BindBackInputToFieldPass(id, value); CheckCheckboxAfterInput(id);" />
                    <div id="collapseContentLabelBack1Prompt" class="rdiosPrompt"><span class="spanRed">*</span>значение по умолчанию</div>
                </div>
                <div id="divCheckboxCollapseLabel1" class="divCheckboxLabelAndValue" style="display:none;">
                    <input type="checkbox" name="checkboxBackCollapseLabel1" id="checkboxBackCollapseLabel1" class="checkboxCollapse" checked>
                    <label for="checkboxBackCollapseLabel1" class="checkboxCollapseLabel"></label>
                    Значение по умолчанию может быть изменено
                </div>
                <div style="color: #DBDBDB;">-----------------------------------------------------------------------------------------</div>
                <div class="radioFlexContainer">
                    <p class="labelInput">
                        <a data-toggle="tooltip" title="Это значение поля. Оно может быть фиксированным (т.е. одинаковым для всех клиентов) или динамическим (т.е. разным для всех клиентов)">Значение</a>
                    </p>
                    <div class="radio">
                        <label class="radioInputFixedValue">
                            <input type="radio" class="radioInputFixOrDinamicValue" name="optionsRadiosCollapseValue1" id="collapseContentValueBack11" onclick="DisplayNoneRadioButtonPrompt(id); DisplayNoneCollapseCheckbox(name);">
                            Фиксированное
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radioInputDynamicValue">
                            <input type="radio" name="optionsRadiosCollapseValue1" id="collapseContentValueBack12" onclick="DisplayRadioButtonPrompt(id); DisplayBlockCollapseCheckbox(name);" checked>
                            Динамическое
                        </label>
                    </div>
                </div>
                <div class="inputTextFlexContainer">
                    <textarea id="textareaBackFieldContent1" class="form-control LabelAndValueInputCollapse" rows="3" placeholder="Необязательное" onkeyup="BindBackTextareaToFieldPass(id, value); CheckCheckboxAfterInput(id);"></textarea>
                    <div id="collapseContentValueBack1Prompt" class="rdiosPrompt displayBlock"><span class="spanRed">*</span>значение по умолчанию</div>
                </div>
                <div id="divCheckboxCollapseValue1" class="divCheckboxLabelAndValue">
                    <input type="checkbox" name="checkboxBackCollapseValue1" id="checkboxBackCollapseValue1" class="checkboxCollapse" checked>
                    <label for="checkboxBackCollapseValue1" class="checkboxCollapseLabel"></label>
                    Значение по умолчанию может быть изменено
                </div>
                <div style="color: #DBDBDB;">-----------------------------------------------------------------------------------------</div>
                <div class="divNotificationInputCollapseField">
                    <p>
                        <span data-toggle="tooltip" title="Чтобы включить новое значение данных в сообщение, вставте &#37;&#64; туда, где бы Вы хотели, чтобы это новое значение появилось.
                             Например: Теперь баланс Вашей карты составляет &#37;&#64; рублей">Уведомление, отображаемое при изменении данных</span>
                    </p>
                    <input id="notificationInputBack1" class="form-control textInputNameContent" maxlength="40" placeholder="Не обязательное" />
                </div>
                <div class="divDataTypeCollapseField">
                    <p class="pDataTypeCollapseField"><span data-toggle="tooltip" title="tttttttа">Тип данных</span></p>
                    <select id="selectDataTypeBack1" class="form-control textInputNameContent" onchange="DisplayBlockDesiredSelect(id);">
                        <option value="text" selected>Текст</option>
                        <option value="number">Число</option>
                        <option value="currency">Валюта</option>
                        <option value="date">Дата</option>
                        <option value="dateTime">Дата и время</option>
                    </select>
                </div>
                <div id="divNumberFormatDataTypeBack1" class="divDataTypeCollapseField displayNone">
                    <p class="pDataTypeCollapseField"><span data-toggle="tooltip" title="Выберите, как числа будут отображаться">Формат числа</span></p>
                    <select id="selectNumbStyleTypeBack1" class="form-control textInputNameContent">
                        <option value="decimal" selected>Десятичное</option>
                        <option value="percent">Процент</option>
                        <option value="scientific">Научное??</option>
                        <option value="spellOut">Расшифровать</option>
                    </select>
                </div>
                <div id="divCurrencyDataTypeBack1" class="divDataTypeCollapseField displayNone">
                    <p class="pDataTypeCollapseField"><span data-toggle="tooltip" title="Выберите необходимую валюту. Так например 50 USD будут отображаться как $50.00">Валюта</span></p>
                    <select id="currencyCodeSelectBack1" class="form-control textInputNameContent">
                        <option value="BYR" selected>BYR (Белорусский рубль)</option>
                        <option value="EUR">EUR (Евро)</option>
                        <option value="PLN">PLN (Польский злотый)</option>
                        <option value="RUB">RUB (Российский рубль)</option>
                        <option value="UAH">UAH (Украинская гривна)</option>
                        <option value="USD">USD (Американский доллар)</option>
                    </select>
                </div>
                <div id="divDateFormatDataTypeBack1" class="divDataTypeCollapseField displayNone">
                    <p class="pDataTypeCollapseField pDateTime"><span data-toggle="tooltip" title="Выберите как дата и время будут отображяться">Дата/время формат</span></p>
                    <select id="selectDateStyleTypeBack1" class="form-control textInputNameContent" style="width:175px;">
                        <option value="short">Короткий</option>
                        <option value="medium" selected="selected">Средний</option>
                        <option value="long">Длинный</option>
                        <option value="full">Полный</option>
                    </select>
                    <div class="divDateTimeCheckbox">
                        <p class="pDataTypeCollapseField pDateTimeCheckbox">
                            <span data-toggle="tooltip" title="Выберите этот необязательный параметр для отображения даты
                                      относительно текущего времени клиента (Например, отображать &laquo;Сегодня&raquo; вместо &laquo;5 марта&raquo;)">Отображать дату относительно</span>
                        </p>
                        <input type="checkbox" name="checkboxRelativeDataBack1" id="checkboxRelativeDataBack1" class="checkboxCollapse">
                        <label for="checkboxRelativeDataBack1" class="checkboxCollapseLabel"></label>
                    </div>
                    <div class="divDateTimeCheckbox">
                        <p class="pDataTypeCollapseField pDateTimeCheckbox">
                            <span data-toggle="tooltip" title="iiiiiiiiiii">Игнорировать часовой пояс</span>
                        </p>
                        <input type="checkbox" name="checkboxIgnoreDataBack1" id="checkboxIgnoreDataBack1" class="checkboxCollapse">
                        <label for="checkboxIgnoreDataBack1" class="checkboxCollapseLabel"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="emerald-flat-button" style="width:120px;margin-left:0px;margin-top:18px;position:relative;" onclick="AddFieldBackContent()">Добавить поле</button>
