<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>    
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="CertificateStorage">
      <register type="FileStorage.Core.IFileStorageConfig, FileStorage.Core" mapTo="FileStorage.BL.FileStorageConfig, FileStorage.BL">
        <lifetime type="singleton"/>
      </register>
      <register type="FileStorage.Repository.Core.IFileStorageUnitOfWork, FileStorage.Repository.Core" mapTo="FileStorage.Repository.EF.FileStorageUnitOfWork, FileStorage.Repository.EF"/>
      <register type="FileStorage.Core.IFileStorageService, FileStorage.Core" mapTo="FileStorage.BL.FileStorageService, FileStorage.BL"/>
      <register type="CertificateStorage.Core.ICertificateStorageConfig, CertificateStorage.Core" mapTo="CertificateStorage.BL.CertificateStorageConfig, CertificateStorage.BL">
        <lifetime type="singleton"/>
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="CertificateStorage.BL.CertificateStorageConfig, CertificateStorage.BL">
        <lifetime type="singleton"/>
      </register>
      <register type="CertificateStorage.Repository.Core.ICertificateStorageUnitOfWork, CertificateStorage.Repository.Core" mapTo="CertificateStorage.Repository.EF.CertificateStorageUnitOfWork, CertificateStorage.Repository.EF"/>
      <register type="CertificateStorage.Core.ICertificateStorageService, CertificateStorage.Core" mapTo="CertificateStorage.BL.CertificateStorageService, CertificateStorage.BL"/>
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
