@model LoginViewModel

@{
    ViewBag.Title = Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginFormExt())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.TextBoxFormForExt(m => m.UserName, "User Name")
        @Html.PasswordFormForExt(m => m.Password)

        <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                <button class="btn-default btn" type="submit">Submit</button>
            </div>
        </div>
    </div>
}

