<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<style>
    .stepImgMembershipTd {
        width: 22%;
    }

    .stepArrowMembershipTd {
        width: 4%;
    }
</style>

<div class="blockContent">
    <p class="pHeader">Электронные визитные карты</p>
    <table class="promoStrategyImgTable">
        <tbody>
            <tr style="height: 73px;">
                <td></td>
                <td></td>
                <td rowspan="9" style="width: 31%;">
                    <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 41px;">
                <td class="stampStratPromptTd">Логотип коппании</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 16px;"></tr>
            <tr style="height: 41px;">
                <td class="stampStratPromptTd">Ваше имя</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="stampStratPromptTd">Ваше фото</td>
            </tr>
            <tr style="height: 16px;"></tr>
            <tr style="height: 41px;">
                <td class="stampStratPromptTd">Ваш email</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="stampStratPromptTd">Ваш телефон</td>
            </tr>
            <tr style="height: 70px;">
                <td></td>
                <td></td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 88px;">
                <td class="stampStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 88px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        С электронными визитными картами Ваша контактная информация никогда не потеряется и всегда будет под рукой.
    </p>
    <br />
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton">Пример пасса</a>

    <br />
    <br />
    <br />
    <br />
</div>

