<style>
    .blockContent {
        margin-right: auto;
        margin-left: auto;
        width: 1000px;
        text-align: center;
        color: #87898F;
        padding-bottom: 40px;
        padding-top: 20px;
    }
    h3 {
        color: #535559;
    }
</style>

<div class="blockContent">
    <table>
        <tbody>
            <tr>
                <td>
                    <img style="width:570px;" src="~/Images/CouponsStrategy/couponLayout.jpg" />
                </td>
                <td style="text-align:left; vertical-align:top;">
                    <h3>Мобильные купоны</h3>
                    <p>
                        No matter what kind of business you are in, brand awareness is important.
                        Coupons are a way to increase exposure and market your product or service
                        to a much larger audience. Whether you provide a discount or a free item,
                        coupons can be a tool to help get customers in your store.
                    </p>
                    <p>
                        Handing out coupons on the street, posting them in ads and forcing individuals
                        to clip them out are not efficient ways of coupon distribution. It turns out,
                        redemption rates for paper coupons are much lower too.
                    </p>
                    <p>
                        Digital coupons enable your business to manage, track, and enhance your coupon campaign.
                        Increase your brand awareness, engage with new and existing customers, and redefine your
                        mobile marketing strategies. You won't regret it.
                    </p>
                    <br/>
                    <a href="~/Home/CouponsStrategyCard" target="_blank" style="background-color: #00b4f0; padding: 10px 20px; color: #FFF; font-weight: bold; border-radius: 3px; text-decoration: none; font-size: 18px;">Cоздать собственную карту</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Как это выглядит со стороны клиента?</h1>
    <h1>Как это выглядит со стороны продавца?</h1>
</div>

