<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<div class="container blockContent strategyBlock">
    <h1>Мобильные купоны</h1>
    <br />
    <img class="couponDescriptImg" src="~/Images/Strategies/couponDescript.png" />
    <br />
    <h3>Достоинства:</h3>
    <br />
    <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2" style="text-align: justify;">
            <h4><span class="pointItem">&#8226;</span> Ваша карточка всегда будет у клиента под рукой.</h4>
            <br />
            <h4><span class="pointItem">&#8226;</span> Вы в любое время можете обновить купоны у клиентов, тем самым держа их в курсе последних акций и предложений.</h4>
            <br />
            <h4><span class="pointItem">&#8226;</span> Мобильные купоны легко создавать, удобно распространять и отслеживать.</h4>
            <br />
            <h4><span class="pointItem">&#8226;</span> Легко добавить в телефон. Для этого достаточно пройти по ссылке (в социальных сетях или присланной по E-mail или SMS) либо отсканировать QR-код на постере, сайте и т.д.</h4>
            <br />
            <h4><span class="pointItem">&#8226;</span> После погашения купона, штрих-код на нем удаляется и его нельзя использовать повторно. Дата погашения может настраиваться.</h4>
            <br />
            <h4><span class="pointItem">&#8226;</span> Ваша карточка никогда не потеряется, т.к. она хранится на нашем сервере и её можно восстановить.</h4>
        </div>
    </div>
    
    
    
    

    @*<h4>Повышайте узнаваемость бренда и создавайте доверительные отношения с новыми и существующими клиентами.</h4>
    <h4>Пересмотрите свои мобильные маркетинговые стратегии. Вы не пожалеете об этом!</h4>*@
    

    <br />
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="strategyButton" style="margin-right: 4px;">Создать карту</a>
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="strategyButton" style="">Пример купона</a>
    <br />
</div>

<script type="text/javascript">
    //change menu active item
    $(document).ready(function () {
        $(".menuPanel1 li").removeClass("active");
        $('#strategiesMenuItem').addClass('active');
    });
</script>


