<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<div class="container blockContent strategyBlock">
    <h1>Мобильные купоны</h1>
    <br />
    <img style="width: 230px;" src="~/Images/iPhone.png" />
    <br />
    <br />
    <h4>Цифровые купоны легко создавать, удобно распространять и отслеживать.</h4>
    <h4>Повышайте узнаваемость бренда и создавайте доверительные отношения с новыми и существующими клиентами.</h4>
    <h4>Пересмотрите свои мобильные маркетинговые стратегии. Вы не пожалеете об этом!</h4>
    <br />
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать пасс</a>
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="bigButton" style="">Пример пасса</a>
    <br />
</div>




