@{
    ViewBag.Title = "CouponRedemption";
}

<div class="container blockContent strategyBlock">
    <br />
    <br />
    <h1>Как это выглядит со стороны клиента?</h1>
    <br />
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
                <div class="col-sm-2 arrowRightBlock right">
                    <p class="arrowRight">&#8594;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">1. </span>Клиент предъявляет свой пассс персоналу до покупки
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
                <div class="col-sm-2 arrowRightBlock right">
                    <p class="arrowRight">&#8594;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">2. </span>Одноразовый купон погасится, и штрих-код будет удален с пасса пользователя
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">3. </span>Дата погашения будет отображена на обратной стороне пасса
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1>Как это выглядит со стороны персонала?</h1>
    <br />
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock right">
                    <p class="arrowRight">&#8594;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">1. </span>Персонал сканирует штрих-код на пассе клиента
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock right">
                    <p class="arrowRight">&#8594;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">2. </span>Персонал вводит пароль для подтверждения
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock right">
                    <p class="arrowRight">&#8594;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">3. </span>Персонал нажимает "Погасить купон"
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock left">
                    <p class="arrowRight">&#8594;</p>
                </div>
                <div class="col-sm-8 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">4. </span>Пасс успешно гасится
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock left">
                    <p class="arrowRight">&#8594;</p>
                </div>
                <div class="col-sm-8 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">5. </span>Штрих-код автоматически удаляется с клиентского пасса
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-2 col-xs-1 arrowRightBlock left">
                    <p class="arrowRight">&#8594;</p>
                </div>
                <div class="col-sm-8 col-xs-6 couponStepImgBlock">
                    <img src="~/Images/iPhone.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 visible-xs"></div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-6 strategyStepText">
                    <span class="spanStepNumber">6. </span>Дата погашения будет отображена на обратной стороне пасса
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
