<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<div class="blockContent"> 
    <p class="pHeader">Мобильные купоны</p>
        <table class="promoStrategyImgTable">
            <tbody>
                <tr style="height: 78px;">
                    <td></td>
                    <td></td>
                    <td rowspan="9" style="width: 31%;">
                        <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 41px;">
                    <td class="promoStratPromptTd">Логотип коппании</td>
                    <td class="promoArrowImgTd">
                        <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                    </td>

                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 22px;">
                    <td>v</td>
                    <td></td>

                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 41px;">
                    <td></td>

                    <td></td>
                    <td class="promoArrowImgTd">
                        <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                    </td>
                    <td class="promoStratPromptTd">Лента (картинка)</td>
                </tr>
                <tr style="height: 22px;">
                    <td>v</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 41px;">
                    <td class="promoStratPromptTd">Срок действия</td>
                    <td class="promoArrowImgTd">
                        <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                    </td>

                    <td class="promoArrowImgTd">
                        <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                    </td>
                    <td class="promoStratPromptTd">Период погашения</td>
                </tr>
                <tr style="height: 65px;">
                    <td>v</td>
                    <td></td>

                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 91px;">
                    <td class="promoStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                    <td class="promoArrowImgTd">
                        <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                    </td>

                    <td></td>
                    <td></td>
                </tr>
                <tr style="height: 73px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
    
    <p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        Цифровые купоны легко создавать, удобно распространять и отслеживать.
        Повышайте узнаваемость бренда и создавайте доверительные отношения с новыми и существующими клиентами.
        Пересмотрите свои мобильные маркетинговые стратегии. Вы не пожалеете об этом!
    </p>
    <br/>
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/PassDesigner/CouponsStrategyCard" target="_blank" class="bigButton" style="">Пример пасса</a>
    <br />
    <br />
    <p class="pHeader">Как это выглядит со стороны клиента?</p>
    <table class="stepTable">
        <tbody>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg"/>
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd"></td>
            </tr>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">1. </span>Клиент предъявляет свой пассс персоналу до покупки
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">2. </span>Одноразовый купон погасится, и штрих-код будет удален с пасса пользователя
                </td>               
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">3. </span>Дата погашения будет отображена на обратной стороне пасса
                </td>  
                <td class="stepArrowTd"></td>
            </tr>
        </tbody>
    </table>
    <p class="pHeader">Как это выглядит со стороны персонала?</p>
    <table class="stepTable">
        <tbody>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
            </tr>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">1. </span>Персонал сканирует штрих-код на пассе клиента
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">2. </span>Персонал вводит пароль для подтверждения
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">3. </span>Персонал нажимает "Погасить купон"
                </td>
                <td class="stepArrowTd"></td>
            </tr>
        </tbody>
    </table>
    <table class="stepTable">
        <tbody>
            <tr>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd"></td>
            </tr>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">4. </span>Пасс успешно гасится
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">5. </span>Штрих-код автоматически удаляется с клиентского пасса
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">6. </span>Дата погашения будет отображена на обратной стороне пасса
                </td>
                <td class="stepArrowTd"></td>
            </tr>
        </tbody>
    </table>
</div>

