<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<div class="blockContent">
    <p class="pHeader">Билет на событие</p>
    <table class="promoStrategyImgTable">
        <tbody>
            <tr style="height: 74px;">
                <td></td>
                <td></td>
                <td rowspan="9" style="width: 31%;">
                    <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Логотип коппании</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 17px;"></tr>
            <tr style="height: 41px;">
                <td></td>

                <td></td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Лента (картинка)</td>
            </tr>
            <tr style="height: 41px;"></tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Имя участника</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Детали события</td>
            </tr>
            <tr style="height: 60px;">
                <td></td>
                <td></td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 91px;">
                <td class="promoStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 83px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        Держите посетителей вкурсе последней информации, отправляя push-уведомления и обновляя пассы.
    </p>
    <br />
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton" style="">Пример пасса</a>
    <br />
    <br />
    <br />
    <br />
</div>

