@{
    ViewBag.Title = "Passlight";
}
<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />
<script src="~/Scripts/createCard/jquery-1.8.3.js">
</script>
<script src="~/Scripts/MainPage/promoSite.js">
</script>

<div class="mainBlock topBlock">
    <div class="mainHeaderContainer">
        <p class="mainHeader">
            Система лояльности в смартфонах<br />
            Ваших клиентов
        </p>
        <p class="mainHeaderSmall">
            Создавайте дисконтные, бонусные и другие<br />
            мобильные карты и распространяйте прямо на <br />
            смартфоны клиентов
        </p>
        <div class="mainBlockButton">
            <a class="bigButton" href="~/PassDesigner/EmptyCardDesigner" target="_blank">Cоздай карту</a>
        </div>
    </div>
</div>

<div class="container blockContent">
    <h1>Как работает наша система?</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="howItWorkIcon"></div>
            <div class="howItWorkNumbering">
                <div class="howItWorkNumberCircle">1</div>
            </div>
            <div>
                Вы распространяете Вашим клиентам электронные версии карт с помощью уникальной ссылки удобным для вас способом
                (через e-mail, SMS, социальные сети или разместив QR-код на своём сайте, постере в магазине).
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="howItWorkIcon"></div>
            <div class="howItWorkNumbering">
                <div class="howItWorkNumberCircle">2</div>
            </div>
            <div>
                Клиент добавляет электронную карту к себе в <span class="appLink">Passbook</span> или <span class="appLink">PassWallet</span> (путем считывания QR-кода или пройдя по ссылке).
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="howItWorkIcon"></div>
            <div class="howItWorkNumbering">
                <div class="howItWorkNumberCircle">3</div>
            </div>
            <div>
                После этого, чтобы получить скидку или пройти
                на мероприятие, клиент просто предъявляет
                свой телефон с открытой картой, штрих-код на
                которой может считывается другим смартфоном.
            </div>
        </div>
    </div>
</div>

<div class="advantageBlock">
    <div class="container blockContent">
        <h1>Преимущества для Вашего бизнеса</h1>
        <table id="advantageTable">
            <tbody>
                <tr>
                    <td id="advTableTd1" class="advTableTd">
                        <div id="advantageText1" class="advantageText advLeftBlock">
                            <div id="advNumberCircle1" class="advNumberCircle">1</div>
                            Распространение мобильных карт прямо на телефоны клиентов гарантирует,
                            что Ваши купоны, билеты, карты лояльности всегда будут под рукой
                            и готовы к использованию.
                        </div>
                    </td>
                    <td id="arrowTd1" class="arrowTd"></td>
                    <td rowspan="2">
                        <img id="advantageImg1" class="advantageImg" src="~/Images/MainPage/blackIphone1.png" />
                        <img id="advantageImg2" class="advantageImg displayNone" src="~/Images/MainPage/blackIphone2.png" />
                        <img id="advantageImg3" class="advantageImg displayNone" src="~/Images/MainPage/blackIphone3.png" />
                    </td>
                    <td id="arrowTd2" class="arrowTd"></td>
                    <td id="advTableTd2" class="advTableTd">
                        <div id="advantageText2" class="advantageText advRightBlock">
                            <div id="advNumberCircle2" class="advNumberCircle">2</div>
                            Вы можете обновлять мобильные карты всего за несколько щелчков мыши.
                            Держите Ваших клиентов в курсе последней информации, такой как баланс карты покупателя или время события.
                            Клиенты увидят push-уведомление о обновлении карты на экране блокировки телефона.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="advTableTd3" class="advTableTd">
                        <div id="advantageText3" class="advantageText advLeftBlock">
                            <div id="advNumberCircle3" class="advNumberCircle">3</div>
                            Однажды добавив мобильную карту в теефон клиента, вы можете отправлять абсолютно новый купон или
                            предложение, просто обновив её содержимое.
                            Эта "вечная мобильная карта" даёт постоянную линию связи с вашим клиентом, что позволяет
                            заработать на сезонных предложениях и новых схемах лояльности.
                        </div>
                    </td>
                    <td id="arrowTd3" class="arrowTd"></td>
                    <td id="arrowTd4" class="arrowTd"></td>
                    <td id="advTableTd4" class="advTableTd">
                        <div id="advantageText4" class="advantageText advRightBlock">
                            <div id="advNumberCircle4" class="advNumberCircle">4</div>
                            Passbook использует данные о местонахождении,
                            поэтому находясь неподалеку от магазина сети, ваш клиент
                            может получать на свой телефон уведомления, приглашающее
                            посетить магазин, о котором он, возможно еще не знает.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container blockContent">
    <h1>Легко создавайте мобильные карты (пассы)</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <img src="~/Images/MainPage/macbookDesigner.png" class="mackbookDesignerImg" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 passDesignerDescription">
            <p>
                Онлайн дизайнер пассов поможет Вам создать мобильную карту и увидеть
                как ее содержимое выглядит в реальном времени
            </p>
            <br />
            <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Выберите шаблон (бизнес стратегию)</p>
            <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Загрузите свои картинки</p>
            <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Введите свое содержимое</p>
            <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Отправте на смартфоны клиентов</p>
            <br />
            <a class="bigButton" href="~/PassDesigner/EmptyCardDesigner" target="_blank">Cоздай карту</a>
        </div>
    </div>
</div>

<div class="usedAppBlock">
    <div class="container blockContent">
        <h1>Используемые приложения</h1>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="appBlock">
                    <h2 class="appHeader">
                        для iPhone
                        <img class="OSLogo" src="~/Images/MainPage/appleLogo.png" /> 
                    </h2>
                    <img class="passbookLogoImg" id="passbookLogoImg" src="/Images/MainPage/passbookLogo.png" />
                    <p>
                        <span>Passbook</span> — это приложение для
                        iPhone, которое позволяет хранить в одном месте
                        электронные дисконтныекарты, купоны и билеты (пассы).<br />
                        <span>
                            Passbook есть в каждом iPhone с момента покупки.
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="appBlock">
                    <h2 class="appHeader">
                        для android
                        <img class="OSLogo" src="~/Images/MainPage/androidLogo.png" />
                    </h2>
                    <img class="passwalletLogoImg" id="passwalletLogoImg" src="/Images/MainPage/passwalletLogo.png" />
                    <p>
                        <span>PassWallet</span> — это приложение для
                        платформ Android и Windows Phone, которое позволяет
                        хранить в одном месте электронные дисконтные
                        карты, купоны и билеты (пассы).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="upArrowBlock">
    <?xml version="1.0" encoding="iso-8859-1" ?>
    <svg id="up" class="upArrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40.007px" height="40.007px" viewBox="0 0 40.007 40.007" style="enable-background:new 0 0 40.007 40.007;"
         xml:space="preserve">
    <path d="M21.418,12.418c-0.781-0.781-2.048-0.781-2.828,0h-0.001c-0.002,0.002-0.003,0.004-0.004,0.005l-5.652,5.651
			c-0.781,0.781-0.781,2.048,0,2.829v-0.001c0.781,0.781,2.047,0.781,2.828,0l2.243-2.242v8.344c0,1.104,0.896,2,2,2s2-0.896,2-2
			V18.66l2.242,2.242c0.781,0.781,2.048,0.781,2.828,0v0.001c0.781-0.781,0.781-2.048,0-2.829L21.418,12.418z M37.324,10.003
			c-5.522-9.565-17.755-12.843-27.32-7.32C0.438,8.205-2.84,20.438,2.684,30.004c5.522,9.565,17.754,12.843,27.32,7.32
			C39.569,31.801,42.847,19.569,37.324,10.003z M28.004,33.859c-7.653,4.418-17.438,1.797-21.856-5.856
			c-4.419-7.652-1.796-17.438,5.856-21.856c7.652-4.418,17.438-1.796,21.856,5.857C38.278,19.656,35.656,29.441,28.004,33.859z" />

    </svg>
</div>

<div class="footerContactBlock">
    <div class="container blockContent">
        <h3>Хотите оказаться в смартфонах своих клиентов</h3>
        <h3>или узнать больше информации?</h3>
        <h3>Свяжитесь с нами!</h3>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <h4>
                    E-mail:
                    <img class="mailIcon" src="~/Images/MainPage/mailIcon.png" />
                </h4>
                <h2><a href="mailto:passlight@gmail.com" id="emailText" class="footerContactValue">info@passlight.com</a></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <h4>
                    Телефон:
                    <img class="phonesIcon" src="~/Images/MainPage/pnonesIcon.png" />
                </h4>
                <h2><a href="tel:+375447242246" class="footerContactValue">+37544 724-22-46</a></h2>

            </div>
        </div>
        <br />
        <p class="footer">2015 Passlight</p>
    </div>
</div>



