@{
    ViewBag.Title = "Main Page";
}
<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />
<script src="~/Scripts/createCard/jquery-1.8.3.js">
</script>
<script src="~/Scripts/MainPage/mainPage.js">
</script>

<div class="mainBlock" style="height: 525px; margin-right: auto; margin-left: auto; width: 1000px;">
    <img src="/Images/MainPage/store1.jpg" style="position: absolute;left: 0px;width: 100%;height: 525px;z-index: -1;" />
    <img src="/Images/MainPage/iphoneInHand2.png" style=" z-index: 1; height: 450px; margin-top: 75px; margin-left: 610px; position: absolute" />
    <p class="mainHeader" style=" width: 637px; margin-top: 80px; ">СИСТЕМА ЛОЯЛЬНОСТИ В</p>
    <p class="mainHeader" style=" width: 517px; margin-top: 145px;">СМАРФОНАХ ВАШИХ</p>
    <p class="mainHeader" style=" width: 276px; margin-top: 210px;">КЛИЕНТОВ</p>
    <p class="mainHeaderSmall" style=" width: 301px; margin-top: 285px;">
        Создавайте дисконтные, бонусные
    </p>
    <p class="mainHeaderSmall" style="width: 242px; margin-top: 320px;">
        и другие мобильные карты
    </p>
    <p class="mainHeaderSmall" style=" width: 428px; margin-top: 355px; ">
        и распространяйте прямо на смартфоны клиентов
    </p>
</div>
<div class="mainBlock" id="divUsedApp" style="height: 270px; margin-right: auto; margin-left: auto; max-width: 1000px; text-align: center; padding: 5px 0 0 0;">
    <p class="pHeader" style="margin: 0 0 !important; padding: 10px 0 5px 0;">Используемые приложения</p>
    <table id="usedApp">
        <tbody>
            <tr>
                <td class="appLogoPromptTd" rowspan="2">
                    <div id="passbookPrompt">
                        <span>Passbook</span> — это приложение для
                        iPhone, которое позволяет
                        хранить в одном месте
                        электронные дисконтные
                        карты, купоны и билеты (пассы).<br />
                        <span>
                            Passbook есть в каждом
                            iPhone с момента покупки.
                        </span>
                    </div>
                </td>
                <td id="passbookLogoImgTd" class="appLogoTd">
                    <img class="passbookLogoImg" id="passbookLogoImg" src="/Images/MainPage/passbookLogo.png" />
                    <br />
                    <p class="appLogoName">Passbook</p>
                </td>
                <td id="passwalletLogoImgTd" class="appLogoTd">
                    <img class="passwalletLogoImg" id="passwalletLogoImg" src="/Images/MainPage/passwalletLogo.png" />
                    <br />
                    <p class="appLogoName">PassWallet</p>
                </td>
                <td class="appLogoPromptTd" rowspan="2">
                    <div id="passwalletPrompt">
                        <span>PassWallet</span> — это приложение для
                        платформ Android,
                        Windows Phone и Blackberry, которое позволяет
                        хранить в одном месте
                        электронные дисконтные
                        карты, купоны и билеты (пассы).
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mainBlock" style="background-color: #00bcf2; padding: 20px 0 30px 0; height: auto;">
    <div class="blockContent" style="max-width: 900px;">
        <p class="pHeader" style="padding: 0px 0px; color: white;">
            Как это работает?
        </p>
        <table id="howItWorkTable">
            <tr>
                <td class="tdIcon">
                    <img class="imgIcon" src="~/Images/MainPage/MessagingIcon1.png" />
                    @*<img class="imgIcon" src="~/Images/MainPage/megaphone9.svg" alt="megaphone">*@
                </td>
                <td class="tdText">
                    Вы доносите до ваших клиентов информацию о возможности
                    получать электронные версии карт покупателя,
                    купонов на скидку, билетов и т.п., удобным для вас способом,
                    которым вы обычно с ними взаимодействуете.
                </td>
            </tr>
            <tr>
                <td class="tdIcon">
                    <img class="imgIcon" src="~/Images/MainPage/UsersIcon.png" />
                    @*<img class="imgIcon" src="~/Images/MainPage/add101.svg" alt="add">*@
                </td>
                <td class="tdText">
                    Клиент добавляет электронную карту к себе в Passbook или PassWallet (путем считывания QR-кода или пройдя по ссылке).
                </td>
            </tr>
            <tr>
                <td class="tdIcon" style="">
                    <img class="imgIcon" src="~/Images/MainPage/ApprovalIcon.png" />
                    @*<img class="imgIcon" src="~/Images/MainPage/approval1 (1).svg" alt="approval">*@
                </td>
                <td class="tdText" style="">
                    После этого, чтобы получить скидку или пройти
                    на мероприятие, клиент просто предъявляет
                    свой телефон с открытой картой, штрих-код на
                    которой считывается другим смартфоном.
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="mainBlock" style="height: auto; min-height: 710px; margin-right: auto; margin-left: auto; max-width: 1000px; text-align: center; padding: 20px 0 30px 0; ">
    <p class="pHeader">Почему наше решение Вам подойдет?</p>
    <table id="advantageTable">
        <tbody>
            <tr>
                <td id="advTableTd1" class="advTableTd" style="text-align: right;" onmousemove="">
                    Ваши клиенты смогут забыть про поиск подарочных карт,
                    купонов, пропусков и билетов в своем кошельке. Ведь теперь
                    они все аккуратно собраны в телефоне и всегда под рукой.
                </td>
                <td class="plusIconTd">
                    <img id="plusIcon1" src="~/Images/MainPage/plusIcon.png" class="plusIcon" />
                    <img id="bluePlusIcon1" src="~/Images/MainPage/plusIconBlue.png" class="plusIcon" style="display: none;" />
                </td>
                <td rowspan="2">
                    <img id="advantageImg1" class="advantageImg" src="~/Images/MainPage/blackIphone1.png" style="width:85%;" />
                    <img id="advantageImg2" class="advantageImg" src="~/Images/MainPage/blackIphone2.png" style="width: 85%; display: none;" />
                    <img id="advantageImg3" class="advantageImg" src="~/Images/MainPage/blackIphone3.png" style="width: 85%; display: none;" />
                </td>
                <td class="plusIconTd">
                    <img id="plusIcon2" src="~/Images/MainPage/plusIcon.png" class="plusIcon" />
                    <img id="bluePlusIcon2" src="~/Images/MainPage/plusIconBlue.png" class="plusIcon" style="display: none;" />
                </td>
                <td id="advTableTd2" class="advTableTd" style="text-align: left;">
                    Владелец «серебрянной» карты может узнать сумму,
                    которую необходимо потратить для получения «золотой»,
                    разве не сильный мотиватор для совершения еще большего числа покупок?
                </td>
            </tr>
            <tr>
                <td id="advTableTd3" class="advTableTd" style="text-align: right;">
                    Ваш клиент в любой момент может просто быть проинформирован
                    об новых акциях, достав телефон из кармана и увидев уведомление
                    сразу на экране блокировки!
                </td>
                <td class="plusIconTd">
                    <img id="plusIcon3" src="~/Images/MainPage/plusIcon.png" class="plusIcon" />
                    <img id="bluePlusIcon3" src="~/Images/MainPage/plusIconBlue.png" class="plusIcon" style="display: none;" />
                </td>
                <td class="plusIconTd">
                    <img id="plusIcon4" src="~/Images/MainPage/plusIcon.png" class="plusIcon" />
                    <img id="bluePlusIcon4" src="~/Images/MainPage/plusIconBlue.png" class="plusIcon" style="display: none;" />
                </td>
                <td id="advTableTd4" class="advTableTd" style="text-align: left;">
                    Passbook использует данные о местонахождении,
                    поэтому находясь неподалеку от магазина сети, ваш клиент
                    может получать на свой телефон уведомления, приглашающее
                    посетить магазин, о котором он, возможно еще не знает.
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mainBlock" style="height: auto; background-color: #ffd800; padding: 20px 0 35px 0;">
    <div class="blockContent" style="color: #535559;">
        <p class="pHeader" style="line-height: 53px;">Легко создавайте мобильные карты (пассы)</p>
        <table id="passDesignerTable" style="text-align:left;">
            <tr>
                <td class="passDesignerTdImg" rowspan="3">
                    @*<img src="~/Images/createCardOnNotebook.png" style="width: 95%;" />*@
                    <img src="~/Images/MainPage/macbookDesigner.png" style="width: 95%;" />
                </td>
                <td class="passDesignerTd">
                    <p style="line-height: 24px; font-family: Segoe UI, Helvetica, Arial, Sans-Serif; font-size: 1.8rem; margin-bottom: 0px;">
                        Онлайн дизайнер пассов поможет Вам создать мобильную карту и увидеть
                        как ее содержимое выглядит в реальном времени
                    </p>
                </td>
            </tr>
            <tr>
                <td class="passDesignerTd" style="padding: 19px 0px;">
                    <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Выберите шаблон (бизнес стратегию)</p>
                    <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Загрузите свои картинки</p>
                    <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Введите свое содержимое</p>
                    <p class="tickText"><img class="tickIcon" src="~/Images/icons/tick%201.png" /> Отправте на смартфоны клиентов</p>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td class="passDesignerTd" style="vertical-align: top;">
                    <a class="bigButton" href="~/Home/EmptyCardDesigner" target="_blank">Cоздать мобильную карту</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="position: relative; width: 100%; max-width: 1000px; margin-left: auto; margin-right: auto;">
    <?xml version="1.0" encoding="iso-8859-1" ?>
    <svg id="up" class="upArrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40.007px" height="40.007px" viewBox="0 0 40.007 40.007" style="enable-background:new 0 0 40.007 40.007;"
         xml:space="preserve">
    <path d="M21.418,12.418c-0.781-0.781-2.048-0.781-2.828,0h-0.001c-0.002,0.002-0.003,0.004-0.004,0.005l-5.652,5.651
			c-0.781,0.781-0.781,2.048,0,2.829v-0.001c0.781,0.781,2.047,0.781,2.828,0l2.243-2.242v8.344c0,1.104,0.896,2,2,2s2-0.896,2-2
			V18.66l2.242,2.242c0.781,0.781,2.048,0.781,2.828,0v0.001c0.781-0.781,0.781-2.048,0-2.829L21.418,12.418z M37.324,10.003
			c-5.522-9.565-17.755-12.843-27.32-7.32C0.438,8.205-2.84,20.438,2.684,30.004c5.522,9.565,17.754,12.843,27.32,7.32
			C39.569,31.801,42.847,19.569,37.324,10.003z M28.004,33.859c-7.653,4.418-17.438,1.797-21.856-5.856
			c-4.419-7.652-1.796-17.438,5.856-21.856c7.652-4.418,17.438-1.796,21.856,5.857C38.278,19.656,35.656,29.441,28.004,33.859z" />

    </svg>
</div>
<div class="mainBlock footerContact">
    <p>
        Хотите оказаться в смартфонах своих клиентов
        <br />
        или узнать больше информации?
        <br />
        Свяжитесь с нами!
    </p>
    <br />
    <a class="bigContactButton" href="~/Home/Contact" target="_blank">Наши контакты</a>
    <br />
    <br />
    <p style=" font-size: 1.4rem; margin-top: 10px; ">2014 Passlight</p>
</div>


