<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<style>
   
</style>

<div class="blockContent">
    <p class="pHeader">Карта клиента</p>
    <table class="promoStrategyImgTable">
        <tbody>
            <tr style="height: 78px;">
                <td></td>
                <td></td>
                <td rowspan="9" style="width: 31%;">
                    <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Логотип коппании</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Баланс</td>
            </tr>
            <tr style="height: 18px;"></tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Имя клиента</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Фото клиента</td>
            </tr>
            <tr style="height: 22px;"></tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Номер клиента</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Статус клиента</td>
            </tr>
            <tr style="height: 60px;">
                <td></td>
                <td></td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 91px;">
                <td class="promoStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Измените цвет пасса при достижении нового статуса</td>
            </tr>
            <tr style="height: 82px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        Обеспечивайте преимущества и выгодные условия для постоянных клиентов.
        Привлекайте новых и создавайте стимулы для продолжения покупок и сбора баллов.
    </p>
    <br />
    <a href="~/Home/MembershipStrategyCard" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/Home/MembershipStrategyCard" target="_blank" class="bigButton">Пример пасса</a>
    <br/>
    <br />
    <p class="pHeader">Как это выглядит со стороны клиента?</p>
    <table class="stepTable">
        <tbody>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowTd"></td>
            </tr>
            <tr>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">1. </span>Клиент предъявляет свой пассс персоналу до покупки
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">2. </span>Клиент получит уведомление со своими обновленными баллами
                </td>
                <td class="stepArrowTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">3. </span>Баллы/баланс обновятся и отобрязятся на пассе клиента
                </td>
                <td class="stepArrowTd"></td>
            </tr>
        </tbody>
    </table>
    <p class="pHeader">Как это выглядит со стороны персонала?</p>
    <table class="stepMembershipTable">
        <tbody>
            <tr>
                <td class="stepImgMembershipTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowMembershipTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgMembershipTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowMembershipTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgMembershipTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowMembershipTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgMembershipTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
            </tr>
            <tr>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">1. </span>Персонал сканирует штрих-код на пассе клиента
                </td>
                <td class="stepArrowMembershipTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">2. </span>Персонал вводит пароль для подтверждения
                </td>
                <td class="stepArrowMembershipTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">3. </span>Персонал вводит новое значение баланса и нажимает "Обновить"
                </td>
                <td class="stepArrowMembershipTd"></td>
                <td class="stepPromptTd">
                    <span class="spanStepNumber">4. </span>Пасс успешно обновляется и отправляется
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

