<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<style>
    .stepImgMembershipTd {
        width: 22%;
    }

    .stepArrowMembershipTd {
        width: 4%;
    }
</style>

<div class="blockContent">
    <p class="pHeader">Штамп карты</p>
    <table class="promoStrategyImgTable">
        <tbody>
            <tr style="height: 73px;">
                <td></td>
                <td></td>
                <td rowspan="9" style="width: 31%;">
                    <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 64px;">
                <td class="stampStratPromptTd">Логотип коппании</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="stampStratPromptTd">Количество накопленных штампов</td>
            </tr>
            <tr style="height: 17px;"></tr>
            <tr style="height: 41px;">
                <td></td>
                <td></td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="stampStratPromptTd">Изабражения штампов</td>
            </tr>
            <tr style="height: 32px;"></tr>
            <tr style="height: 41px;">
                <td class="stampStratPromptTd">Владелец карты</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="stampStratPromptTd">Дата истечения</td>
            </tr>
            <tr style="height: 40px;">
                <td></td>
                <td></td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 88px;">
                <td class="stampStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 78px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        Поощряйте расходы и создавайте стимулы для совершения новых покупок и сбора штампов.
    </p>
    <br />
    <a href="~/PassDesigner/EmptyCardDesigner" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/PassDesigner/EmptyCardDesigner" target="_blank" class="bigButton">Пример пасса</a>
    <br />
    <br />
    <p class="pHeader">Как это выглядит со стороны клиента?</p>
    <table class="stepStampTable">
        <tbody>
            <tr>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
            </tr>
            <tr>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">1. </span>Клиент сканирует QR код с рекламы в интернете или постера.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">2. </span>Клиент вводит своё имя или другую необходимую информацию.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">3. </span>Клиент нажимает "Добавить" и пасс добавляется в его смарфон.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">4. </span>Клиент предъявляет свой пасс персоналу до покупки.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">5. </span>Клиент будет получать уведомление о изменении количества штампов.
                </td>
                <td class="stepArrowStampTd"></td>
            </tr>
        </tbody>
    </table>
    <table class="stepStampTable" style="max-width: 760px;">
        <tbody>
            <tr>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
            </tr>
            <tr>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">6. </span>Обновленные штампы отобразятся на передней части пасса.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">7. </span>Когда все штампы будут собраны, пасс разблокируется и картинка изменится.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">8. </span>Сообщение о награде обновится и отобразится на задней части пасса.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">9. </span>Теперь клиент может получить бесплатный подарок в Вашем магазине!
                </td>
            </tr>
        </tbody>
    </table>
    <p class="pHeader">Как это выглядит со стороны персонала?</p>
    <table class="stepStampTable">
        <tbody>
            <tr>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
            </tr>
            <tr>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">1. </span>Персонал сканирует QR код на пассе клиента.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">2. </span>Персонал вводит имя пользователя и пароль для подтверждения.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">3. </span>Теперь персонал может добавить или убрать штампы.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">4. </span>Персонал нажимает "Отправить обновленный пасс".
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">5. </span>На экране появится уведомление об успешном обновлении пасса.
                </td>
                <td class="stepArrowStampTd"></td>
            </tr>
        </tbody>
    </table>
    <table class="stepStampTable" style="max-width: 760px;">
        <tbody>
            <tr>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
                <td class="stepArrowStampTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="arrowImg" />
                </td>
                <td class="stepImgStampTd">
                    <img src="~/Images/MainPage/blackIphone.png" class="stepImg" />
                </td>
            </tr>
            <tr>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">6. </span>Обновленные штампы отобразятся на передней части пасса пользователя.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">7. </span>Когда все штампы будут собраны, пасс разблокируется и картинка изменится.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">8. </span>Сообщение о награде обновится и отобразится на задней части пасса.
                </td>
                <td class="stepArrowStampTd"></td>
                <td class="stepPromptTd stampStepPromptTd">
                    <span class="spanStepNumber">9. </span>Теперь клиент может получить бесплатный подарок в Вашем магазине!
                </td>
            </tr>
        </tbody>
    </table>
    

    <br />
    <br />
    <br />
    <br />
</div>

