<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<div class="container blockContent strategyBlock">
    <h1>Билеты на проезд</h1>
    <br />
    <img class="boardingDescriptImg wow pulse" src="~/Images/Strategies/boardingDescript.png" />
    <br />
    <h3 class="wow fadeInLeft" data-wow-duration="1.5s">Достоинства:</h3>
    <br />
    <div class="row">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2" style="text-align: justify;">
            <h4 class="wow fadeInRight" data-wow-duration="1.5s"><span class="pointItem">&#8226;</span> Удобство распространения билетов (через SMS или E-mail). </h4>
            <br />
            <h4 class="wow fadeInRight" data-wow-duration="1.5s"><span class="pointItem">&#8226;</span> Нет необходимости распечатывать билет. Легко добавляется в телефон.</h4>
            <br />
            <h4 class="wow fadeInRight" data-wow-duration="1.5s"><span class="pointItem">&#8226;</span> Через push-сообщения можно донести обновленную информацию о поездке (время отправления и т.д.).</h4>
            <br />
            <h4 class="wow fadeInRight" data-wow-duration="1.5s"><span class="pointItem">&#8226;</span> Для подтверждения подлинности билета, штрих-код на нем может считываться сканером или другим смартфоном.</h4>
            <br />
            <h4 class="wow fadeInRight" data-wow-duration="1.5s"><span class="pointItem">&#8226;</span> Ваш билет не потеряется, т.к. он хранится на нашем сервере и его можно восстановить.</h4>
        </div>
    </div>
    <br />
    <br />
    <a href="~/PassDesigner/TransitStrategyCard" target="_blank" class="strategyButton" style="margin-right: 4px;">Создать карту</a>
    <a href="~/PassDesigner/TransitStrategyCard" target="_blank" class="strategyButton" style="">Пример купона</a>
    <br />
</div>

<script type="text/javascript">
    //change menu active item
    $(document).ready(function () {
        $(".menuPanel1 li").removeClass("active");
        $('#strategiesMenuItem').addClass('active');
    });
</script>