<link href="~/Content/MainPage/promoSite.css" rel="stylesheet" />

<style>
    .stepImgMembershipTd {
        width: 22%;
    }

    .stepArrowMembershipTd {
        width: 4%;
    }
</style>

<div class="blockContent">
    <p class="pHeader">Электронные билеты на проезд</p>
    <table class="promoStrategyImgTable">
        <tbody>
            <tr style="height: 78px;">
                <td></td>
                <td></td>
                <td rowspan="9" style="width: 31%;">
                    <img src="~/Images/MainPage/blackIphone.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Логотип коппании</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>

                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Номер вагона</td>
            </tr>
            <tr style="height: 12px;"></tr>
            <tr style="height: 41px;">
                <td></td>
                <td></td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Пункт назначения</td>
            </tr>
            <tr style="height: 41px;">
                <td class="promoStratPromptTd">Детали</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 41px;">
                <td></td>
                <td></td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg leftArrorImg" />
                </td>
                <td class="promoStratPromptTd">Номер места</td>
            </tr>
            <tr style="height: 55px;">
                <td></td>
                <td></td>

                <td></td>
                <td></td>
            </tr>
            <tr style="height: 91px;">
                <td class="promoStratPromptTd">Сообщение, закодированное в штрих-коде</td>
                <td class="promoArrowImgTd">
                    <img src="~/Images/couponsStrategy/blueArrow.png" class="promoArrowImg" />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 74px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    @*<p class="pText" style="width: 63%; margin-left: auto; margin-right: auto; ">
        Обеспечивайте преимущества и выгодные условия для постоянных клиентов.
        Привлекайте новых и создавайте стимулы для продолжения покупок и сбора баллов.
    </p>*@
    <br />
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton" style="margin-right: 4px;">Cоздать собственный пасс</a>
    <a href="~/Home/EmptyCardDesigner" target="_blank" class="bigButton">Пример пасса</a>
    <br />
    <br />
    <br />
    <br />

</div>

