<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="PassNotification">
      <register type="Pass.Notification.Core.IPushNotificationConfig, Pass.Notification.Core" mapTo="Pass.Notification.BL.PushNotificationConfig, Pass.Notification.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Common.Repository.IDbConfig, Common.Repository" mapTo="Pass.Notification.BL.PushNotificationConfig, Pass.Notification.BL">
        <lifetime type="singleton" />
      </register>
      <register type="Pass.Notification.Repository.Core.IPushNotificationUnitOfWork, Pass.Notification.Repository.Core" mapTo="Pass.Notification.Repository.EF.PushNotificationUnitOfWork, Pass.Notification.Repository.EF" />
      <register type="Pass.Notification.Core.IPushNotificationWorker, Pass.Notification.Core" mapTo="Pass.Notification.BL.PushSharpNotificationWorker, Pass.Notification.BL" />
      <register type="Pass.Notification.Core.IPassNotificationService, Pass.Notification.Core" mapTo="Pass.Notification.BL.PassNotificationService, Pass.Notification.BL" />
    </container>
  </unity>
</configuration>