@{
    Layout = "~/Areas/Site/Views/Shared/_Layout.cshtml";
}

<div class="row vertical-align">
    @*
    <div class="col-md-2">
        @(Html.ActionLinkExt<PassContentController>(a => a.CreatePass(0), "Add New", new { passProjectId = Model.PassProjectId }, new { @class = "btn btn-default" }))
    </div>
    *@
    <div class="col-md-10">
        @Html.DropDownListExt("PassProjectId", "GetItems", "PassProject", new { passSiteId = SiteId },
                         optionLabel: "- Select Pass Project -", htmlAttributes: new { @class = "form-control" }, changeHandler: "OnPassProjectChange")
        @*Html.DropDownListForExt(m => m.PassContentTemplateId, "Items", "PassContentTemplate", "- Select Pass Templete -", new { @class = "form-control" })"*@
    </div>
</div>


<script type="text/javascript">
    function PassContentFilter(d) {
        return $.extend({}, d, {
            "PassProjectId": $('#PassProjectId').val()
            //"PassContentTemplateId": $('#PassContentTemplateId').val()
        });
    };
</script>

@(Html.Grid<PassContentViewModel>()
        .Name("grdPassContent")
        .CssClass("pm-grid")
        .Pageable()
        .Sortable()
        .DataSource(ds => ds.Read(Url.Action<PassContentController>(a => a.GridSearchView(null, null))).Data("PassContentFilter"))
        .Columns(c =>
                {
                    c.BoundLink(m => m.PassContentId, Url.Action<PassContentController>(a => a.Edit(0)), x => x.PassContentId).Title("ID").Width("100px");
                    c.BoundBool(m => m.IsOnline).Title("Online").Orderable(false);
                    c.Bound(m => m.SerialNumber).Title("Serial Number");//.ClientTemplateId("CropSerNum");
                    c.Bound(m => m.ExpDate).Title(Resources.ExpirationDate);
                    c.Bound(m => m.IsVoided).Title("Voided");
                    c.BoundEnum(m => m.Status);
                    c.Bound(p => p.PassContentId).Title("Action").GridAjaxAction(Resources.Delete, Url.Action<PassContentController>(a => a.Delete(0)));
                }))

<script type="text/javascript">
    $(document).ready(function () {
        var grid = $("#grdPassContent");
        window.grid.Init(grid);
        //window.grid.Reload(grid);

        /*
        $("#PassContentTemplateId").change(function () {
            window.grid.Reload($("#grdPassContent"));
        });
        */
    });

    function OnPassProjectChange() {
        window.grid.Reload($("#grdPassContent"));
    }
</script>

<!--
<script id="CropSerNum" type="text/x-kendo-template">
    <div class="crop" style="width:220px" title="#=SerialNumber#">
        #=SerialNumber#
    </div>
</script>
-->
