@model int

@(Html.PopupDialog()
    .Name("wndPassField")
    .Width(650)
    .Title("Pass Field")
    .Events(e => e.Success("OnEditPassFieldSuccess"))
)

@(Html.Grid<PassContentFieldViewModel>()
              .Name("grdPassFields")
              .CssClass("pm-grid")
              .Pageable()
              .DataSource(ds => ds.Read(Url.Action<PassContentFieldController>(a => a.GridSearchView(null,null), new { PassContentId = Model })))
              .Columns(c =>
                       {
                           c.Bound(p => p.PassProjectFieldId).Title("ID").Width("100px");
                           c.Bound(p => p.FieldName).Title(Resources.Name).ClientTemplateId("FieldNameTemplate");
                           c.Bound(p => p.FieldKindsAsString).Title(Resources.Location);
                           c.Bound(p => p.FieldLabel).Title(Resources.Label);
                           c.Bound(p => p.FieldValue).Title(Resources.Value);
                           c.Bound(p => p.CreatedDate).Title(Resources.CreatedDate).Format("g"); ;
                           c.Bound(p => p.UpdatedDate).Title(Resources.UpdatedDate).Format("g"); ;
                       }))

<script>
    $(document).ready(function () {
        window.grid.Init($("#grdPassFields"));
    });

    function OnEditPassFieldSuccess() {
        window.grid.Reload($("#grdPassFields"));
    }
</script>

<script id="FieldNameTemplate" type="text/x-kendo-template">
    # if (PassContentFieldId) {#
        <a href="@HttpUtility.UrlDecode(Url.Action<PassContentFieldController>(a => a.Edit(0), new { id = "#=PassContentFieldId#" }))" data-popup-window="wndPassField">#=FieldName#</a>
    #} else {#
        <a href="@HttpUtility.UrlDecode(Url.Action<PassContentFieldController>(a => a.CreateContentField(0, 0), new { passContentId = Model, passProjectFieldId = "#=PassProjectFieldId#" }))" data-popup-window="wndPassField">#=FieldName#</a>
    #}#
</script>


