<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FileStorage" type="System.Configuration.NameValueSectionHandler" />
    <section name="CertificateStorage" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <connectionStrings>
    <add name="MobileWalletConnection" connectionString="Data Source=localhost;Initial Catalog=MobileWallet;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <CertificateStorage>
    <add key="ConnectionStringName" value="MobileWalletConnection" />
    <add key="SecurityKey" value="1234567890987654" />
  </CertificateStorage>
  
  <FileStorage>
    <add key="StorageDeep" value="2" />
    <add key="MaxItemsNumber" value="10" />
    <add key="StoragePath" value="D:\Data\FileStorage\Test" />
    <add key="ConnectionStringName" value="MobileWalletConnection" />
  </FileStorage>
  
</configuration>