@model _GridViewModel

<table id="@Model.Name" class="table table-striped table-bordered">
    <caption>@Model.Title</caption>
    <thead>
        <tr>
            @foreach (_GridColumnViewModel col in Model.ColumnFactory)
            {
                <th>@col.Title</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (_GridRowViewModel row in Model.Rows)
        {
            <tr>
                @for (int i = 0; i < row.RowData.Count; i++)
                {
                    <td>@(row.RowData[i] != null ? row.RowData[i].ToString() : string.Empty)</td>
                }
            </tr>
        }
    </tbody>
</table>