@model IViewModel

@{
    //ViewBag.Title = Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.ActionLinkExt("Add New", "Create")
    @RenderBody()
</div>
    

@section Scripts
{
    @RenderSection("Scripts", false)
}

