@{
    //ViewBag.Title = Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.ActionLinkExt("Add New", "Create", htmlAttributes: new { @class = "btn btn-default" })
    @RenderBody()
</div>
    

@section Scripts
{
    @RenderSection("Scripts", false)

    <script type="text/javascript">
            $(document).ready(function () {
                window.grid.Init($("table.pm-grid"));
            })
    </script>
}

