@using (Html.BeginFormExt(htmlAttributes: (object)ViewBag.HtmlFormAttributes))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        @RenderBody()
        <div class="form-group">
            @RenderSection("Actions")
        </div>
    </div>
}

